
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <ul class="page-breadcrumb breadcrumb note note-info" style="font-size:1.15em; font-weight:bold;text-transform: uppercase; padding:10px; margin-bottom: 20px ">
<li>
    <span aria-hidden="true" class="icon-arrow-left"></span><a routerLink="/businessopportunity" style="">Back to Business Opportunity</a>
</li>
</ul>
                
                   
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        
                                        <i class="icon-settings font-dark"></i>
                                       
                                        <span class="caption-subject bold uppercase">Business Opportunity Images </span>
                                    </div>
                                       <div class="btn-group pull-right">
                                           
                                        <span *ngIf="value!=4">
                                        <a routerLink="/addbusinessopportunityimages/{{training_id}}" class="btn btn-default"><i class="fa fa-plus"></i> Add Business Opportunity Images</a>
                                        </span>
                                      </div>
									              </div>

                      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column">
                        <thead>
                          <tr> 
                          <th>ID</th>
                          <!--<th>Image</th>
                          <th>Name of Author</th>-->
                          <!--<th>Date Time</th>-->
                          <th>Image</th>
                          <!--<th>Path</th>-->
                          <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let businessopportunity of posts">
                              <td>{{businessopportunity.training_images_id}}</td>
                              <!--<td>{{businessopportunity.title}}</td>
                              <td>{{businessopportunity.description}}</td>-->
                              <!--<td>{{businessopportunity.datetime}}</td>-->
                              <td><a href="{{businessopportunity.image_path}}" target="_blank"><img src="{{businessopportunity.image_path}}" width="80px"></a></td> 
                               <!--<td>{{businessopportunity.path}}</td>       -->
                              <td>
                                  <a routerLink="/editbusinessopportunityimages/{{businessopportunity.training_id}}/{{businessopportunity.training_images_id}}">Edit</a>
                              </td>
                           </tr>
                       </tbody>
                                    </table>                                 
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            


