
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                
                   
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="fa fa-newspaper-o font-dark" style="font-size: 18px"></i>
                                        <span class="caption-subject bold uppercase">Repository</span>
                                    </div>
                                       <div class="btn-group pull-right">
                                        <a routerLink="/addrepository" class="btn btn-default"><i class="fa fa-plus"></i> Add Repository</a>
                                      </div>
									              </div>

                      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
 class="table table-striped table-bordered table-hover table-checkable order-column">
                        <thead>
                          <tr> 
                          <th>ID</th>
                          
                          <th>Repository Category</th>
                        
                          
                          <!--<th>Newsletter Subcategory</th>-->
                          <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let repository of posts">
                                <td>{{repository.id}}</td>
                              <td><a routerLink="/repositorypdf/{{repository.id}}">{{repository.name}}</a></td>
                             
                              <!--<td><a routerLink="/newsletter-subcategory/{{repository.id}}">{{repository.name}}</a></td>-->
                              
                              <!--<td>
                                  <a routerLink="/editnewsletter/{{newsletter.id}}/{{newsletter.teacher_id}}">Edit</a>
                              </td>-->
                              <td>
                                  <a routerLink="/editrepository/{{repository.id}}">Edit</a>
                              </td>
                           </tr>
                       </tbody>
                                    </table>                                 
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
