]
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                
                   
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="page-breadcrumb breadcrumb note note-info" style="font-size:1.15em; font-weight:bold;text-transform: uppercase; padding:10px; margin-bottom: 20px ">
<li>
  <span aria-hidden="true" class="icon-arrow-left"></span><a routerLink="/activity-subcategory/{{id}}">Activity Subcategory Lists</a>
</li>
</ul>
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="icon-settings font-dark"></i>
                                        <span class="caption-subject bold uppercase">Activity Album</span>
                                    </div>
                                       <div class="btn-group pull-right">
                                        <a routerLink="/add-activity-album/{{id}}/{{sid}}" class="btn btn-default"><i class="fa fa-fw fa-dashboard"></i> Add Activity Album</a>
                                      </div>
									              </div>

                      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column">
                        <thead>
                          <tr> 
                          <th>ID</th>
                          <th>Album Name</th>
                          <th>Image</th>
                          <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let activityalbum of posts">
                              <td>{{activityalbum.activity_images_id}}</td>
                              <td>{{activityalbum.image_name}}</td>
                              <td><img src="{{activityalbum.path}}" width="150px"></td>
                              
                              <td>
                                  <a routerLink="/editactivity-album/{{id}}/{{sid}}/{{activityalbum.activity_images_id}}">Edit</a>
                              </td>
                           </tr>
                       </tbody>
                                    </table>                                 
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
