<!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    
                
                   
                    <div class="row">
                        
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    
                                    <div class="caption font-dark">
                                        <i class="fa fa-book font-dark" style="font-size: 18px"></i>
                                        <span class="caption-subject bold uppercase"> Villager Directory</span>
                                    </div>
                                       <div class="btn-group pull-right">
                                        <a routerLink="/addvillagerdirectory" class="btn btn-default"><i class="fa fa-plus"></i> Add Villager Directory Member.</a>
                                      </div>
									              </div>



<div><br>

<form [formGroup]="villagerForm" class="form-horizontal" (ngSubmit)="UploadExcel()">
    <div class="row" >
        <div class="col-md-12">
            <!--<div class="col-md-1">&nbsp;</div>-->
            <div class="col-md-2" style="text-align: center;">
                <label class="control-label " > <b style="font-size: 16">  Select Excel </b></label>
            </div>
            <div class="col-md-6">
                <input type="file" class="form-control" required (change)="onChange($event)" />
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-success">Upload Excel </button>

                <a (click)="downloadexcel()" class="btn btn-danger">Download Excel </a>
            </div>
            <!--<div class="col-md-1">&nbsp;</div>-->
        </div>
    </div>
    <br>
</form>



 </div>
<div><br>






                      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column">
                        <thead>
                          <tr> 
                          <th>ID</th>
                          <th>Name</th>
                          <th>Gender</th>
                          <th>Profile Image</th>                        
                          <th>Mobile No.</th>
                          <th>Email Id</th>
                          <th>Address</th>
                          <th>City</th>
                          <th>Pincode</th>
                          <th>Age</th>
                          <th>Marital Status</th>
                          <th>Blood Group</th>
                          <th>Education</th>
                          <th>Profession</th>
                          <th>Company Name</th>
                          <th>Aadhar No.</th>
                          <th>Pan no.</th>
                          <!--<th>Business Type</th>-->
                          <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let directory of posts; let i=index;">
                              <td>{{i+1}}</td>
                              <td>{{directory.name}}</td>
                              <td>{{directory.gender}}</td> 
                              <td><img src="{{directory.profile_pic}}" width="100px"></td> 
                              <td>{{directory.mobile_no}}</td>
                              <td>{{directory.email}}</td>
                              <td>{{directory.address}}</td>
                              <td>{{directory.city}}</td>
                               <td>{{directory.pincode}}</td>
                              <td>{{directory.age}}</td>
                             <td>{{directory.marital_status}}</td>
                             <td>{{directory.blood_group}}</td>
                             <td>{{directory.education}}</td>
                             <td>{{directory.profession}}</td>
                              <td>{{directory.company_name}}</td> 
                              <td>{{directory.aadhar_no}}</td>
                              <td>{{directory.pan_no}}</td>
                              <!--<td>{{directory.Bussiness_Type}}</td>   -->
                              <td>
                                  <a routerLink="/editvillagerdirectory/{{directory.id}}">Edit</a>
                              </td>
                           </tr>
                       </tbody>
                                    </table> 
                                    </div>                                
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            

