
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                
                   
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="fa fa-newspaper-o font-dark"  style="font-size: 19px"></i>
                                        <span class="caption-subject bold uppercase">Advertisement</span>
                                    </div>
                                       <div class="btn-group pull-right">
                                        <a routerLink="/addadvertisement" class="btn btn-default"><i class="fa fa-plus"></i> Add Advertisement</a>
                                      </div>
									              </div>

                      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column">
                        <thead>
                          <tr> 
                          <th>ID</th>
                          <th>Name</th>
                          <th>Image</th>
                          <!--<th>Location</th>-->
                          <th>Link</th>
                          <!--<th>type</th>-->
                          <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let advertisement of posts;let i=index">
                              <td>{{i+1}}</td>
                              <td>{{advertisement.image_name}}</td>
                              
                              <!--<td>{{advertisement.location}}</td>-->
                              <td><img src="{{advertisement.image_path}}" width=300px></td>
                              <td><a href={{advertisement.image_description}} target="_blank">{{advertisement.image_description}}</a></td>
                              <!--<td>{{advertisement.type}}</td>       -->
                              <td>
                                  <a routerLink="/editadvertisement/{{advertisement.image_slider_id}}">Edit</a>
                              </td>
                           </tr>
                       </tbody>
                                    </table>                                 
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            


