<!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                
                   
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="fa fa-book font-dark" style="font-size: 18px"></i>
                                        <span class="caption-subject bold uppercase"> Panchayat Directory</span>
                                    </div>
                                       <div class="btn-group pull-right">
                                        <a routerLink="/addpanchayatdirectory" class="btn btn-default"><i class="fa fa-plus"></i> Add Panchayat Directory Member</a>
                                      </div>
									              </div>

                      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column">
                        <thead>
                          <tr> 
                          <th>ID</th>
                          <th>Name</th>
                          <th>Gender</th>
                          <th>Profile Image</th>                        
                          <th>Mobile No.</th>
                          <th>Email Id</th>
                          <th>Address</th>
                          <th>City</th>
                          <th>Pincode</th>
                          <th>Age</th>
                          <th>Marital Status</th>
                          <th>Blood Group</th>
                          <th>Education</th>
                          <th>Profession</th>
                          <th>Company Name</th>
                          <th>Aadhar No.</th>
                          <th>Pan no.</th>
                        <th>Visibility Status</th>
                          <!--<th>Business Type</th>-->
                          <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let directory of posts; let i=index;">
                              <td>{{i+1}}</td>
                              <td>{{directory.name}}</td>
                              <td>{{directory.gender}}</td> 
                              <td><img src="{{directory.profile_pic}}" width="100px"></td> 
                              <td>{{directory.mobile_no}}</td>
                              <td>{{directory.email}}</td>
                              <td>{{directory.address}}</td>
                              <td>{{directory.city}}</td>
                               <td>{{directory.pincode}}</td>
                              <td>{{directory.age}}</td>
                             <td>{{directory.marital_status}}</td>
                             <td>{{directory.blood_group}}</td>
                             <td>{{directory.education}}</td>
                             <td>{{directory.profession}}</td>
                              <td>{{directory.company_name}}</td> 
                              <td>{{directory.aadhar_no}}</td>
                              <td>{{directory.pan_no}}</td>
                                     <td>
                <select id="priority" (change)="run($event.target.value,directory.id)">
                         <option value="1" [selected]="directory.priority==1" >1</option>
                         <option value="2" [selected]="directory.priority==2">2</option>
                        <option value="3" [selected]="directory.priority==3">3</option>
                       <option value="4" [selected]="directory.priority==4">4</option>
                       <option value="5" [selected]="directory.priority==5" >5</option>
                         <option value="6" [selected]="directory.priority==6">6</option>
                        <option value="7" [selected]="directory.priority==7">7</option>
                    <option value="8" [selected]="directory.priority==8">8</option>
                    <option value="9" [selected]="directory.priority==9" >9</option>
                         <option value="10" [selected]="directory.priority==10">10</option>
                        <option value="11" [selected]="directory.priority==11">11</option>
                    <option value="null" [selected]="directory.priority==null">Select Status</option>
                </select> 
            </td>
                              <!--<td>{{directory.Bussiness_Type}}</td>   -->
                              <td>
                                  <a routerLink="/editpanchayatdirectory/{{directory.id}}">Edit</a>
                              </td>
                           </tr>
                       </tbody>
                                    </table>                                 
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            

