
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                
                   
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="fa fa-calendar font-dark" style="font-size: 18px"></i>
                                        <span class="caption-subject bold uppercase"> Calender</span>
                                    </div>
                                       <!--<div class="btn-group pull-right">
                                        <a routerLink="/addcalender" class="btn btn-default"><i class="fa fa-plus"></i> Add Calender</a>
                                      </div>
									              </div>-->

                      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column">
                                          
                        <thead>
                             <tr> 
                          <th>ID</th>
                          <th>Title</th>
                          <th>Subject</th>
                          <th style="padding-right:50px">Event Date</th>
                          <th style="padding-right:50px">Event Time</th>
                          <th>Description</th>
                          <th>Venue</th>
                          <th>Image</th>
                          <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let calender of posts">
                              <td>{{calender.app_calendar_id}}</td>
                              <td>{{calender.title}}</td>
                              <td>{{calender.subject}}</td>
                              <td>{{calender.event_date}}</td>
                              <td>{{calender.event_time }}</td>
                              <td>{{calender.description}}</td>
                              <td>{{calender.venue}}</td>
                              <td><img src="{{calender.image_path}}" width="100px"></td>
                              <td>
                                  <a routerLink="/editcalender/{{calender.app_calendar_id}}">Edit</a>
                              </td>
                           </tr>
                       </tbody>
                                    </table>                                 
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            
