<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->

            <!-- END PAGE TITLE -->
            <!-- BEGIN PAGE TOOLBAR -->

            <!-- END PAGE TOOLBAR -->
        </div>
        <ul class="page-breadcrumb breadcrumb note note-info" style="font-size:1.15em; font-weight:bold;text-transform: uppercase; padding:10px; margin-bottom: 20px ">
            <li>
                <span aria-hidden="true" class="icon-arrow-left"></span><a routerLink="/surveyquestions/{{id}}" style=""> Survey Question</a>
            </li>
        </ul>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->

        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="col-md-11">
            <div class="{{alertClass}}">
                {{errorMsg}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">


                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            Add Survey Questions </div>
                    </div>
                    <div class="portlet-body form">
                        <!--BEGIN FORM-->
                        <form [formGroup]="surveyquestionsForm" (ngSubmit)="onSubmit()" class="form-horizontal">

                            <div class="form-body">

                                <!--<div class="form-group">
                                    <label class="control-label col-sm-3">Name<i class="required">*</i></label>
                                    <div class="col-md-4">
                                        <input type="text" formControlName="title" class="form-control input-circle">
                                        <span class="help-block required" *ngIf="surveyquestionsForm.controls.title.invalid && (surveyquestionsForm.controls.title.touched || !surveyquestionsForm.controls.title.pristine)">
                                                               Name is required.
                                                            </span>
                                    </div>
                                </div>-->


                                <div class="form-group">
                                    <label class="control-label col-sm-3">Question <i class="required">*</i></label>
                                    <div class="col-md-4">
                                        <input type="text" formControlName="question" class="form-control input-circle">
                                        <span class="help-block required" *ngIf="surveyquestionsForm.controls.question.invalid && (surveyquestionsForm.controls.question.touched || !surveyquestionsForm.controls.question.pristine)">
                                                               Question is required.
                                                            </span>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-sm-3">Answer a <i class="required">*</i></label>
                                    <div class="col-md-4">
                                        <input type="text" formControlName="a" class="form-control input-circle">
                                        <span class="help-block required" *ngIf="surveyquestionsForm.controls.a.invalid && (surveyquestionsForm.controls.a.touched || !surveyquestionsForm.controls.a.pristine)">
                                                               Answer is required.
                                                            </span>
                                    </div>
                                </div>

 <div class="form-group">
                                <label class="control-label col-sm-3">Answer b <i class="required">*</i></label>
                                <div class="col-md-4">
                                    <input type="text" formControlName="b" class="form-control input-circle">
                                    <span class="help-block required" *ngIf="surveyquestionsForm.controls.b.invalid && (surveyquestionsForm.controls.b.touched || !surveyquestionsForm.controls.b.pristine)">
                                                               Answer is required.
                                                            </span>
                                </div>
                            </div>

 <div class="form-group">
                            <label class="control-label col-sm-3">Answer c <i class="required">*</i></label>
                            <div class="col-md-4">
                                <input type="text" formControlName="c" class="form-control input-circle">
                                <span class="help-block required" *ngIf="surveyquestionsForm.controls.c.invalid && (surveyquestionsForm.controls.c.touched || !surveyquestionsForm.controls.c.pristine)">
                                                               Answer is required.
                                                            </span>
                            </div>
                    </div>

 <div class="form-group">
                    <label class="control-label col-sm-3">Answer d <i class="required">*</i></label>
                    <div class="col-md-4">
                        <input type="text" formControlName="d" class="form-control input-circle">
                        <span class="help-block required" *ngIf="surveyquestionsForm.controls.d.invalid && (surveyquestionsForm.controls.d.touched || !surveyquestionsForm.controls.d.pristine)">
                                                               Answer is required.
                                                            </span>
                    </div>
                </div>





                <!--<div class="form-group">
                                                          <label class="control-label col-sm-3">Description<i class="required">*</i></label>
                                                          <div class="col-md-4">
                                                            <textarea formControlName="description" class="form-control input-circle"></textarea>
                                                          <span class="help-block required" *ngIf="policiesForm.controls.description.invalid && (policiesForm.controls.description.touched || !policiesForm.controls.description.pristine)">
                                                               Description is required.
                                                            </span>
                                                          </div>
                                                        </div>-->

            </div>


            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn btn-circle green" [disabled]="surveyquestionsForm.invalid">Submit</button>
                        <button type="reset" class="btn btn-circle red btn-outline">Reset</button>
                    </div>
                </div>
            </div>-->
            </form>
            <!-- END FORM-->
        </div>
    <!--</div>
</div>-->
</div>
<!-- END PAGE BASE CONTENT -->
</div>
<!-- END CONTENT BODY -->