
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                
                   
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="fa fa-file-text font-dark" style="font-size: 18px"></i>
                                        <span class="caption-subject bold uppercase"> Complaints </span>
                                    </div>
                                    <div class="btn-group pull-right"> <a (click)="downloadexcel()" class="btn btn-default" style="background-color:#01A800;color:white">Download Excel </a>
                                    </div> 
                                       <!--<div class="btn-group pull-right">
                                        <a routerLink="/feedback" class="btn btn-default"> </a>
                                      </div>-->
									              </div>

                      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column">
                        <thead>
                          <tr> 
                          <th>ID</th>
                          <th>Name</th>
                          <th>E-mail</th>
                          <th>Mobile Number</th>
                          <th>Title</th>
                          <th>Description</th>
                          <th>Image</th>
                          
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let feedback of posts">
                              <td>{{feedback.app_feedback_id}}</td>
                              <td>{{feedback.name}}</td>
                              <td>{{feedback.email}}</td>
                              <td>{{feedback.mobile_no}}</td>
                              <td>{{feedback.subject}}</td>
                              <td>{{feedback.description}}</td>
                              <td><img src="{{feedback.file}}" width="150px"></td>       
                            
                           </tr>
                       </tbody>
                                    </table>                                 
                                </div>
                            </div>
                             <!--END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                     <!--END PAGE BASE CONTENT -->
                </div>
                 <!--END CONTENT BODY -->
            

