
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                
                   
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="fa fa-university font-dark"  style="font-size: 18px"></i>
                                        <span class="caption-subject bold uppercase">Government Schemes</span>
                                    </div>
                                       <div class="btn-group pull-right">
                                        <a routerLink="/addschemas" class="btn btn-default"><i class="fa fa-plus"></i> Add New Scheme</a>
                                      </div>
									              </div>

                      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column">
                        <thead>
                          <tr> 
                          <th>ID</th>
                          <th style="width: 20%">Title</th>
                          <th>Description</th>
                          <th>Image</th>
                          <th>Start Date</th>
                          <th>Launched Date</th>
                          <th>Launched By</th>
                          <th>Applicants for Scheme</th>
                          <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let schemas of posts;let i=index">
                              <td>{{i+1}}</td>
                              <td>{{schemas.title}}</td>
                              <td>{{schemas.description | truncate: 250}}</td>
                              <td><img src="{{schemas.file}}" width=100px></td>
                              <td>{{schemas.start_date}}</td>
                              <td>{{schemas.launched_date}}</td>
                              <td>{{schemas.guest}}</td>
                              <td><a routerLink="/schemesapplied/{{schemas.scheme_id}}">Applicants</a></td>
                                   
                              <td>
                                  <a routerLink="/editschemas/{{schemas.scheme_id}}">Edit</a>
                              </td>
                           </tr>
                       </tbody>
                                    </table>                                 
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            

