<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
  <!-- BEGIN CONTENT BODY -->
  <div class="page-content">
    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
      <!-- BEGIN PAGE TITLE -->

      <!-- END PAGE TITLE -->
      <!-- BEGIN PAGE TOOLBAR -->

      <!-- END PAGE TOOLBAR -->
    </div>
    <ul class="page-breadcrumb breadcrumb note note-info" style="font-size:1.15em; font-weight:bold;text-transform: uppercase; padding:10px; margin-bottom: 20px ">
<li>
  <span aria-hidden="true" class="icon-arrow-left"></span><a routerLink="/repositorypdf/{{id}}" style="">Back to Repository PDF</a>
</li>
</ul>
<!-- END PAGE HEAD-->
<!-- BEGIN PAGE BREADCRUMB -->

<!-- END PAGE BREADCRUMB -->
<!-- BEGIN PAGE BASE CONTENT -->
<div class="col-md-11">
  <div class="{{alertClass}}">
    {{errorMsg}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">


    <div class="portlet box green">
      <div class="portlet-title">
        <div class="caption">
          Add Repository PDF </div>
      </div>
      <div class="portlet-body form">
        <!--BEGIN FORM-->
        <form [formGroup]="repositorypdfForm" (ngSubmit)="onSubmit()" class="form-horizontal">

          <div class="form-body">

            <div class="form-group">
              <label class="control-label col-sm-3">Title<i class="required">*</i></label>
              <div class="col-md-4">
                <input type="text" formControlName="title" class="form-control input-circle">
                <span class="help-block required" *ngIf="repositorypdfForm.controls.title.invalid && (repositorypdfForm.controls.title.touched || !repositorypdfForm.controls.title.pristine)">
                                                               Title is required.
                                                            </span>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-3">Name Of Author<i class="required">*</i></label>
              <div class="col-md-4">
                <input type="text" formControlName="description" class="form-control input-circle">
                <span class="help-block required" *ngIf="repositorypdfForm.controls.description.invalid && (repositorypdfForm.controls.description.touched || !repositorypdfForm.controls.description.pristine)">
                                                               Author is required.
                                                            </span>
              </div>
            </div>




        
                                                    <div class="form-body">
                                                        



                                                        <div class="form-group ">

    <label class="control-label col-md-3">Image</label>
    <div class="col-md-4">
        <div class="fileinput fileinput-new" data-provides="fileinput">

            <div>



                <input type="file" class="form-control" formControlName="path" name="path" (change)="onChange($event)" multiple>

            </div>
        </div>
  

                                                   </div>                                                                                                                          



<!--<div class="form-group">
              <label class="control-label col-sm-3">Name Of Author<i class="required">*</i></label>
              <div class="col-md-4">
                <input type="text" formControlName="description" class="form-control input-circle">
                <span class="help-block required" *ngIf="repositorypdfForm.controls.description.invalid && (repositorypdfForm.controls.description.touched || !repositorypdfForm.controls.description.pristine)">
                                                               Author is required.
                                                            </span>
              </div>
            </div>-->
<!--</div>-->
</div>

</div>


<!--<div class="form-group">
  <label class="control-label col-sm-3">Posted By<i class="required">*</i></label>
  <div class="col-md-4">
    <textarea formControlName="info" class="form-control input-circle"></textarea>
    <span class="help-block required" *ngIf="repositorypdfForm.controls.info.invalid && (repositorypdfForm.controls.info.touched || !repositorypdfForm.controls.info.pristine)">
                                                               Description is required.
                                                            </span>
  </div>
</div>-->


</div>


<div class="form-actions">
  <div class="row">
    <div class="col-md-offset-3 col-md-9">
      <button type="submit" class="btn btn-circle green" [disabled]="repositorypdfForm.invalid">Submit</button>
      <button type="reset" class="btn btn-circle red btn-outline">Reset</button>
    </div>
  </div>
</div>
</form>
<!-- END FORM-->
</div>
</div>
</div>
</div>
<!-- END PAGE BASE CONTENT -->
</div>
<!-- END CONTENT BODY -->