<!-- BEGIN SIDEBAR -->

<!-- END SIDEBAR -->
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <ul class="page-breadcrumb breadcrumb note note-info" style="font-size:1.15em; font-weight:bold;text-transform: uppercase; padding:10px; margin-bottom: 20px ">
<li>
    <span aria-hidden="true" class="icon-arrow-left"></span><a routerLink="/experts/{{expert_id}}" style="">Back to Experts</a>
</li>
</ul>


<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">

                    <i class="icon-settings font-dark"></i>

                    <span class="caption-subject bold uppercase">Speak to Experts</span>
                </div>
                <!--<div class="btn-group pull-right">
                                        <a routerLink="/addspeaktoexpert/{{id}}" class="btn btn-default"><i class="fa fa-fw fa-dashboard"></i> Add Repository PDF</a>
                                      </div>-->
            </div>

            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name of Forum</th>
                        <th>Name of User</th>
                        <th>Mobile no.</th>
                        <th>Email</th>
                        <th>Subject</th>
                        <th>Message</th>
                        <!--<th>Attached File</th>-->
                        <th>Reply</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let speaktoexpert of posts">
                        <td>{{speaktoexpert.forum_question_id}}</td>
                        <td>{{speaktoexpert.title}}</td>
                        <td>{{speaktoexpert.name}}</td>
                        <td>{{speaktoexpert.email}}</td>
                        <td>{{speaktoexpert.mobile_no}}</td>
                        
                        <!--<td>{{speaktoexpert.mobile_no}}</td>
                              <td>{{speaktoexpert.email}}</td>-->
                        <td>{{speaktoexpert.subject}}</td>
                        <td>{{speaktoexpert.message}}</td>
                        <!--<td>
                            <a href="{{speaktoexpert.file}}" target="_blank"><img src="{{speaktoexpert.file}}" width="40px"></a>
                        </td>-->

                        <td>
                            <a class="btn btn-sm btn-primary" *ngIf="speaktoexpert.answers==null" routerLink="/expertanswer/{{speaktoexpert.expert_id}}/{{speaktoexpert.forum_question_id}}"><i class="fa fa-reply"></i> Reply</a>

<span class="label label-sm label-danger" *ngIf="speaktoexpert.answers!=null">Replied</span>
<!--<button type="button" class="btn btn-default disabled" *ngIf="speaktoexpert.answers!=null"> Replied</button>-->
                            <!--<a class="btn btn-default disabled"  *ngIf="speaktoexpert.answers!=null" >
                                                    Replied
                                                </a>-->


                            <!--<a class="btn btn-sm btn-primary" routerLink="/expertanswer/{{speaktoexpert.expert_id}}/{{speaktoexpert.forum_question_id}}"><i class="fa fa-reply"></i> Reply</a>-->
                            <!--<a routerLink="/editspeaktoexpert/{{speaktoexpert.forum_id}}/{{speaktoexpert.my_notes_id}}">Edit</a>-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
</div>
</div>
<!-- END PAGE BASE CONTENT -->
</div>
<!-- END CONTENT BODY -->