<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->

            <!-- END PAGE TITLE -->
            <!-- BEGIN PAGE TOOLBAR -->

            <!-- END PAGE TOOLBAR -->
        </div>
        <ul class="page-breadcrumb breadcrumb note note-info" style="font-size:1.15em; font-weight:bold;text-transform: uppercase; padding:10px; margin-bottom: 20px ">
<li>
    <span aria-hidden="true" class="icon-arrow-left"></span><a routerLink="/videos" style="">Videos List</a>
</li>
</ul>
<!-- END PAGE HEAD-->
<!-- BEGIN PAGE BREADCRUMB -->

<!-- END PAGE BREADCRUMB -->
<!-- BEGIN PAGE BASE CONTENT -->
<div class="col-md-11">
    <div class="{{alertClass}}">
        {{errorMsg}}
    </div>
</div>
<div class="row">
    <div class="col-md-12">


        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    Add Videos </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form [formGroup]="videoForm" (ngSubmit)="onSubmit()" class="form-horizontal">

                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-sm-3">Title<i class="required">*</i></label>
                            <div class="col-md-4">
                                <input type="text" formControlName="title" class="form-control input-circle">
                                <span class="help-block required" *ngIf="videoForm.controls.title.invalid && (videoForm.controls.title.touched || !videoForm.controls.title.pristine)">
                                                               Title is required.
                                                            </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Description <i class="required">*</i></label>
                            <div class="col-md-4">
                                <textarea formControlName="description" class="form-control input-circle"></textarea>
                                <span class="help-block required" *ngIf="videoForm.controls.description.invalid && (videoForm.controls.description.touched || !videoForm.controls.description.pristine)">
                                                               Description is required.
                                                            </span>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label col-sm-3">Video link<i class="required">*</i></label>
                            <div class="col-md-4">
                                <input type="text" formControlName="path" class="form-control input-circle" placeholder="https://">
                                <span class="help-block required" *ngIf="videoForm.controls.path.invalid && (videoForm.controls.path.touched || !videoForm.controls.path.pristine)">
                                                               Video link is required.
                                                            </span>
                            </div>
                        </div>

                        <!--<div class="form-group ">
                                                            <label class="control-label col-md-3">Image<i class="required">*</i></label>
                                                            <div class="col-md-4">
                                                                
                                                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                                                <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                                            <img [src]="imagepath"  alt="" /> </div>
                                                        <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>                                                                        <div>
                                                                            <span class="btn red btn-outline btn-file">                                                                                  
                                                                                <span class="fileinput-new"> Select image </span>
                                                                                <span class="fileinput-exists"> Change </span>
                                                                                <input type="file" class="form-control" name="file" [src]="videoForm.controls['file']" (change)="onChange($event)" >
                                                                            </span>
                                                                            <!<span class="help-block required" *ngIf="!isFileLoaded">
                                                                                Please Select an Image!
                                                                            </span>-->
                        <!--<a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->

                        <!--</div>-->


                    </div>


                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn btn-circle green" [disabled]="videoForm.invalid">Submit</button>
                                <button type="reset" class="btn btn-circle red btn-outline">Reset</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>
<!-- END PAGE BASE CONTENT -->
</div>
<!-- END CONTENT BODY -->