
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                
           
                   
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="fa fa-file-text font-dark" style="font-size: 18px"></i>
                                        <span class="caption-subject bold uppercase"> Survey</span>
                                    </div>
                                       <div class="btn-group pull-right">
                                        <a routerLink="/addsurvey" class="btn btn-default"><i class="fa fa-plus"></i> Add Survey</a>
                                      </div>
									              </div>

                      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column">
                        <thead>
                          <tr> 
                          <th>ID</th>
                          <th>Title</th>
                          <th>Questions</th>
                          <th>File</th>
                          <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let survey of posts">
                              <td>{{survey.id}}</td>
                              <td>{{survey.title}}</td>
                              <td><a routerLink= "/surveyquestions/{{survey.id}}">Survey Questions</a></td> 
                                
                               <td><img src="{{survey.image_path}}" width="50px"></td>  
                              <td>
                                 
                                  <a routerLink="/editsurvey/{{survey.id}}">Edit</a>

                              </td>
                           </tr>
                       </tbody>
                                    </table>                                 
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            
