
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                
                   
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="fa fa-user font-dark" style="font-size:18px"></i>
                                        <span class="caption-subject bold uppercase"> Features</span>
                                    </div>
                                       <div class="btn-group pull-right">
                                        <a routerLink="/addfeatures" class="btn btn-default"><i class="fa fa-fw fa-dashboard"></i> Add Feature</a>
                                      </div>
									              </div>

                      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column">
                        <thead>
                          <tr> 
                          <th>ID</th>
                          <th>Image</th>
                          <th>Title</th>
                          <th>Description</th>
                          <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let feature of posts;let i=index">
                              <td>{{i+1}}</td>
                              <td><img src="{{feature.image_path}}" width="200px"></td>
                              <td>{{feature.title}}</td>
                              <td>{{feature.description | truncate : 400}}</td>       
                              <td>
                                  <a routerLink="/editfeatures/{{feature.feature_id}}">Edit</a>
                              </td>
                           </tr>
                       </tbody>
                                    </table>                                 
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            
