<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->

            <!-- END PAGE TITLE -->
            <!-- BEGIN PAGE TOOLBAR -->

            <!-- END PAGE TOOLBAR -->
        </div>
        <ul class="page-breadcrumb breadcrumb note note-info" style="font-size:1.15em; font-weight:bold;text-transform: uppercase; padding:10px; margin-bottom: 20px ">
<li>
    <span aria-hidden="true" class="icon-arrow-left"></span><a routerLink="/villagerdirectory" style="">Back to Villager Directory </a>
</li>
</ul>
<!-- END PAGE HEAD-->
<!-- BEGIN PAGE BREADCRUMB -->

<!-- END PAGE BREADCRUMB -->
<!-- BEGIN PAGE BASE CONTENT -->
<div class="col-md-11">
    <div class="{{alertClass}}">
        {{errorMsg}}
    </div>
</div>
<div class="row">
    <div class="col-md-12">


        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    Add Villager Directory </div>
            </div>
            <div class="portlet-body form">
                <!--BEGIN FORM-->
                <form [formGroup]="directoryForm" (ngSubmit)="onSubmit()" class="form-horizontal">

                    <div class="form-body">

                        <div class="form-group">
                            <label class="control-label col-sm-3"> Name<i class="required">*</i></label>
                            <div class="col-md-4">
                                <input type="text" formControlName="name" class="form-control input-circle">
                                <span class="help-block required" *ngIf="directoryForm.controls.name.invalid && (directoryForm.controls.name.touched || !directoryForm.controls.name.pristine)">
                                                               Name is required.
                                                            </span>

                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label col-sm-3">Gender<i class="required">*</i></label>
                            <div class="col-md-4">
                                <input type="text" formControlName="gender" class="form-control input-circle" placeholder="Male/Female">
                                <span class="help-block required" *ngIf="directoryForm.controls.gender.invalid && (directoryForm.controls.gender.touched || !directoryForm.controls.gender.pristine)">
                                                               Gender is required.
                                                            </span>

                            </div>
                        </div>


                        <div class="form-group ">
                            <label class="control-label col-md-3">Profile Image</label>
                            <div class="col-md-4">

                                <div class="fileinput fileinput-new" data-provides="fileinput">

                                    <div class="fileinput-new thumbnail" style="width: 100px; height: 100px;">
<img [src]="imagepath" alt="" /> </div>
<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
<div>
    <span class="btn red btn-outline btn-file">
                                                                                  
                                                                            <span class="fileinput-new"> Select image </span>
    <span class="fileinput-exists"> Change </span>
    <input type="file" class="form-control" name="file" [src]="directoryForm.controls['profile_pic']" (change)="onChange($event)">
    </span>
    <span class="help-block required" *ngIf="!isValidImage">
                                                                                Please Select an Image with size less than 500KB!
                                                                            </span>
    <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
</div>
</div>
</div>
</div>


<div class="form-group">
    <label class="control-label col-sm-3">Mobile No.<i class="required">*</i></label>
    <div class="col-md-4">
        <input type="text" formControlName="mobile_no" class="form-control input-circle">
        <span class="help-block required" *ngIf="directoryForm.controls.mobile_no.invalid && (directoryForm.controls.mobile_no.touched || !directoryForm.controls.mobile_no.pristine)">
                                                               PLease put the correct Mobile Number!
                                                     </span>

    </div>
</div>


<div class="form-group">
    <label class="control-label col-sm-3">Email ID</label>
    <div class="col-md-4">
        <input type="text" formControlName="email" class="form-control input-circle" placeholder="For example: abc@xyz.com">
        <span class="help-block required" *ngIf="directoryForm.controls.email.invalid && (directoryForm.controls.email.touched || !directoryForm.controls.email.pristine)">
                                                               Check whether the email is correct or not !
                                                            </span>

    </div>
</div>

<div class="form-group">
    <label class="control-label col-sm-3">Address</label>
    <div class="col-md-4">
        <textarea formControlName="address" class="form-control input-circle"></textarea>
        <span class="help-block required" *ngIf="directoryForm.controls.address.invalid && (directoryForm.controls.address.touched || !directoryForm.controls.address.pristine)">
                                                               Address is required.
                                                            </span>
    </div>
</div>

<div class="form-group">
    <label class="control-label col-sm-3">City </label>
    <div class="col-md-4">
        <input type="text" formControlName="city" class="form-control input-circle">
        <span class="help-block required" *ngIf="directoryForm.controls.city.invalid && (directoryForm.controls.city.touched || !directoryForm.controls.city.pristine)">
                                                               City is required.
                                                            </span>

    </div>
</div>

<div class="form-group">
    <label class="control-label col-sm-3">Pincode </label>
    <div class="col-md-4">
        <input type="text" formControlName="pincode" class="form-control input-circle">
        <span class="help-block required" *ngIf="directoryForm.controls.pincode.invalid && (directoryForm.controls.pincode.touched || !directoryForm.controls.pincode.pristine)">
                                                           PLease put the correct Pincode!    
                                                            </span>

    </div>
</div>

<div class="form-group">
    <label class="control-label col-sm-3">Age </label>
    <div class="col-md-4">
        <input type="text" formControlName="age" class="form-control input-circle">
        <span class="help-block required" *ngIf="directoryForm.controls.age.invalid && (directoryForm.controls.age.touched || !directoryForm.controls.age.pristine)">
                                                               Age is required.
                                                            </span>

    </div>
</div>

<div class="form-group">
    <label class="control-label col-sm-3">Marital Status</label>
    <div class="col-md-4">
        <input type="text" formControlName="marital_status" class="form-control input-circle">
        <span class="help-block required" *ngIf="directoryForm.controls.marital_status.invalid && (directoryForm.controls.marital_status.touched || !directoryForm.controls.marital_status.pristine)">
                                                              
                                                            </span>

    </div>
</div>

<div class="form-group">
    <label class="control-label col-sm-3">Blood Group</label>
    <div class="col-md-4">
        <input type="text" formControlName="blood_group" class="form-control input-circle">
        <span class="help-block required" *ngIf="directoryForm.controls.blood_group.invalid && (directoryForm.controls.blood_group.touched || !directoryForm.controls.blood_group.pristine)">
                                                              
                                                            </span>

    </div>
</div>

<div class="form-group">
    <label class="control-label col-sm-3">Education</label>
    <div class="col-md-4">
        <input type="text" formControlName="education" class="form-control input-circle">
        <span class="help-block required" *ngIf="directoryForm.controls.education.invalid && (directoryForm.controls.education.touched || !directoryForm.controls.education.pristine)">
                                                              
                                                            </span>

    </div>
</div>

<div class="form-group">
    <label class="control-label col-sm-3">Profession</label>
    <div class="col-md-4">
        <input type="text" formControlName="profession" class="form-control input-circle">
        <span class="help-block required" *ngIf="directoryForm.controls.profession.invalid && (directoryForm.controls.profession.touched || !directoryForm.controls.profession.pristine)">
                                                              
                                                            </span>

    </div>
</div>

<div class="form-group">
    <label class="control-label col-sm-3">Company Name</label>
    <div class="col-md-4">
        <input type="text" formControlName="company_name" class="form-control input-circle">
        <span class="help-block required" *ngIf="directoryForm.controls.company_name.invalid && (directoryForm.controls.company_name.touched || !directoryForm.controls.company_name.pristine)">
                                                              
                                                            </span>

    </div>
</div>


<div class="form-group">
    <label class="control-label col-sm-3">Aadhar No.</label>
    <div class="col-md-4">
        <input type="text" formControlName="aadhar_no" class="form-control input-circle">
        <span class="help-block required" *ngIf="directoryForm.controls.aadhar_no.invalid && (directoryForm.controls.aadhar_no.touched || !directoryForm.controls.aadhar_no.pristine)">
                                                              
                                                            </span>

    </div>
</div>

<div class="form-group">
    <label class="control-label col-sm-3">Pan no.</label>
    <div class="col-md-4">
        <input type="text" formControlName="pan_no" class="form-control input-circle">
        <span class="help-block required" *ngIf="directoryForm.controls.pan_no.invalid && (directoryForm.controls.pan_no.touched || !directoryForm.controls.pan_no.pristine)">
                                                              
                                                            </span>

    </div>
</div>







</div>



<div class="form-actions">
    <div class="row">
        <div class="col-md-offset-3 col-md-9">
            <button type="submit" class="btn btn-circle green" [disabled]="directoryForm.invalid">Submit</button>
            <button type="reset" class="btn btn-circle red btn-outline">Reset</button>
        </div>
    </div>
</div>
</form>
<!-- END FORM-->
</div>
</div>
</div>
</div>
<!-- END PAGE BASE CONTENT -->
</div>
<!-- END CONTENT BODY -->
