<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->

            <!-- END PAGE TITLE -->
            <!-- BEGIN PAGE TOOLBAR -->

            <!-- END PAGE TOOLBAR -->
        </div>
        <ul class="page-breadcrumb breadcrumb note note-info" style="font-size:1.15em; font-weight:bold;text-transform: uppercase; padding:10px; margin-bottom: 20px ">
<li>
    <span aria-hidden="true" class="icon-arrow-left"></span><a routerLink="/businessopportunity" style="">Business Opportunity</a>
</li>
</ul>
<!-- END PAGE HEAD-->
<!-- BEGIN PAGE BREADCRUMB -->

<!-- END PAGE BREADCRUMB -->
<!-- BEGIN PAGE BASE CONTENT -->
<div class="col-md-11">
    <div class="{{alertClass}}">
        {{errorMsg}}
    </div>
</div>
<div class="row">
    <div class="col-md-12">


        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    Add Business Opportunity </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form [formGroup]="businessopportunityForm" (ngSubmit)="onSubmit()" class="form-horizontal">

                    <div class="form-body">

                        <div class="form-group">
                            <label class="control-label col-sm-3">Title<i class="required">*</i></label>
                            <div class="col-md-4">
                                <input type="text" formControlName="title" class="form-control input-circle">
                                <span class="help-block required" *ngIf="businessopportunityForm.controls.title.invalid && (businessopportunityForm.controls.title.touched || !businessopportunityForm.controls.title.pristine)">
                                                               Title is required.
                                                            </span>
                            </div>
                        </div>


                        <div class="form-group ">
                            <label class="control-label col-md-3">Image<i class="required">*</i></label>
                            <div class="col-md-4">

                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
<img [src]="imagepath" alt="" /> </div>
<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
<div>
    <span class="btn red btn-outline btn-file">                                                                                  
                                                                                <span class="fileinput-new"> Select image </span>
    <span class="fileinput-exists"> Change </span>
    <input type="file" class="form-control" name="file" [src]="businessopportunityForm.controls['image_path']" (change)="onChange($event)">
    </span>
    <!--<span class="help-block required" *ngIf="!isFileLoaded">
                                                                                Please Select an Image!
                                                                            </span>-->
    <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
    <span class="help-block required" *ngIf="!isValidImage">
                                                                                Please Select an Image with size less than 500KB!
                                                                            </span>
</div>
</div>
</div>

</div>






<div class="form-group">
    <label class="control-label col-sm-3">Type<i class="required">*</i></label>
    <div class="col-md-4">
        <input type="text" formControlName="type" class="form-control input-circle">
        <span class="help-block required" *ngIf="businessopportunityForm.controls.type.invalid && (businessopportunityForm.controls.type.touched || !businessopportunityForm.controls.type.pristine)">
                                                               Type is required.
                                                            </span>
    </div>
</div>

<div class="form-group">
    <label class="control-label col-sm-3">About Company<i class="required">*</i></label>
    <div class="col-md-4">
        <input type="text" formControlName="description" class="form-control input-circle">
        <span class="help-block required" *ngIf="businessopportunityForm.controls.description.invalid && (businessopportunityForm.controls.description.touched || !businessopportunityForm.controls.description.pristine)">
                                                               About Company is required.
                                                            </span>
    </div>
</div>

<div class="form-group">
    <label class="control-label col-sm-3">Product Range and Description<i class="required">*</i></label>
    <div class="col-md-4">
        <input type="text" formControlName="product_range_des" class="form-control input-circle">
        <span class="help-block required" *ngIf="businessopportunityForm.controls.product_range_des.invalid && (businessopportunityForm.controls.product_range_des.touched || !businessopportunityForm.controls.product_range_des.pristine)">
                                                               Product Range and Description is required.
                                                            </span>
    </div>
</div>

<div class="form-group">
    <label class="control-label col-sm-3">Business Opportunity<i class="required">*</i></label>
    <div class="col-md-4">
        <input type="text" formControlName="fees" class="form-control input-circle">
        <span class="help-block required" *ngIf="businessopportunityForm.controls.fees.invalid && (businessopportunityForm.controls.fees.touched || !businessopportunityForm.controls.fees.pristine)">
                                                               Business Opportunity is required.
                                                            </span>
    </div>
</div>

<div class="form-group">
    <label class="control-label col-sm-3">Business Opportunity Description<i class="required">*</i></label>
    <div class="col-md-4">
        <input type="text" formControlName="opportunity_des" class="form-control input-circle">
        <span class="help-block required" *ngIf="businessopportunityForm.controls.opportunity_des.invalid && (businessopportunityForm.controls.opportunity_des.touched || !businessopportunityForm.controls.fees.pristine)">
                                                               Business Opportunity Description is required.
                                                            </span>
    </div>
</div>



<div class="form-group">
    <label class="control-label col-sm-3">Investment Requirement<i class="required">*</i></label>
    <div class="col-md-4">
        <input type="text" formControlName="investment_required" class="form-control input-circle">
        <span class="help-block required" *ngIf="businessopportunityForm.controls.investment_required.invalid && (businessopportunityForm.controls.investment_required.touched || !businessopportunityForm.controls.investment_required.pristine)">
                                                               Investment is required.
                                                            </span>
    </div>
</div>

<div class="form-group">
    <label class="control-label col-sm-3">Margin Range<i class="required">*</i></label>
    <div class="col-md-4">
        <input type="text" formControlName="duration" class="form-control input-circle" placeholder="For example: 000%">
        <span class="help-block required" *ngIf="businessopportunityForm.controls.duration.invalid && (businessopportunityForm.controls.duration.touched || !businessopportunityForm.controls.duration.pristine)">
                                                               Margin Range is required.
                                                            </span>
    </div>
</div>

<div class="form-group">
    <label class="control-label col-sm-3">Territory<i class="required">*</i></label>
    <div class="col-md-4">
        <input type="text" formControlName="location" class="form-control input-circle">
        <span class="help-block required" *ngIf="businessopportunityForm.controls.location.invalid && (businessopportunityForm.controls.location.touched || !businessopportunityForm.controls.location.pristine)">
                                                               Territory is required.
                                                            </span>
    </div>
</div>


<div class="form-group">
    <label class="control-label col-sm-3">Weblink<i class="required">*</i></label>
    <div class="col-md-4">
        <input type="text" formControlName="training_type" class="form-control input-circle" placeholder="For example: https://www.abc.com">
        <span class="help-block required" *ngIf="businessopportunityForm.controls.training_type.invalid && (businessopportunityForm.controls.training_type.touched || !businessopportunityForm.controls.training_type.pristine)">
                                                               Weblink is required.
                                                            </span>
    </div>
</div>

<div class="form-group">
    <label class="control-label col-sm-3">Remark<i class="required">*</i></label>
    <div class="col-md-4">
        <input type="text" formControlName="remark" class="form-control input-circle">
        <span class="help-block required" *ngIf="businessopportunityForm.controls.remark.invalid && (businessopportunityForm.controls.remark.touched || !businessopportunityForm.controls.remark.pristine)">
                                                               Remark is required.
                                                            </span>
    </div>
</div>


</div>


<div class="form-actions">
    <div class="row">
        <div class="col-md-offset-3 col-md-9">
            <button type="submit" class="btn btn-circle green" [disabled]="businessopportunityForm.invalid">Submit</button>
            <button type="reset" class="btn btn-circle red btn-outline">Reset</button>
        </div>
    </div>
</div>
</form>
<!-- END FORM-->
</div>
</div>
</div>
</div>
<!-- END PAGE BASE CONTENT -->
</div>
<!-- END CONTENT BODY -->