<!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE HEAD-->
                    <div class="page-head">
                        <!-- BEGIN PAGE TITLE -->
                        
                        <!-- END PAGE TITLE -->
                        <!-- BEGIN PAGE TOOLBAR -->
                        
                        <!-- END PAGE TOOLBAR -->
                    </div>
                    <ul class="page-breadcrumb breadcrumb note note-info" 
                    style="font-size:1.15em; font-weight:bold;text-transform: uppercase; padding:10px; margin-bottom: 20px ">
                        <li>
                            <span aria-hidden="true" class="icon-arrow-left"></span><a routerLink="/aboutUs">Activity</a>
                        </li>
                    </ul>
                    <!-- END PAGE HEAD-->
                    <!-- BEGIN PAGE BREADCRUMB -->
                   
                    <!-- END PAGE BREADCRUMB -->
                    <!-- BEGIN PAGE BASE CONTENT -->
                    <div class="col-md-11">        
                        <div class="{{alertClass}}">
                             {{errorMsg}}      
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                               
                         
                                        <div class="portlet box green">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-gift"></i>Stock </div>                                                
                                            </div>
                                            <div class="portlet-body form">
                                                <!-- BEGIN FORM-->
                                                <form [formGroup]="aboutusForm" (ngSubmit)="onSubmit()" class="form-horizontal">

                                                    <div class="form-body">
                                                        <div class="form-group">
                                                          <label class="control-label col-sm-3">Title<i class="required">*</i></label>
                                                          <div class="col-md-4">
                                                             <input type="text" formControlName="name" class="form-control input-circle">
                                                          <!-- <span class="help-block required" *ngIf="aboutusForm.controls.description.invalid && (aboutusForm.controls.description.touched || !aboutusForm.controls.description.pristine)">
                                                               Description is required.
                                                            </span>-->
                                                          </div>
                                                        </div>
    
                                                        <div class="form-group">
                                                          <label class="control-label col-sm-3">File name<i class="required">*</i></label>
                                                          <div class="col-md-4">
                                                             <input type="text" formControlName="name" class="form-control input-circle">
                                                          <!-- <span class="help-block required" *ngIf="aboutusForm.controls.description.invalid && (aboutusForm.controls.description.touched || !aboutusForm.controls.description.pristine)">
                                                               Description is required.
                                                            </span>-->
                                                          </div>
                                                        </div>
                                                           


                                                    </div>
                                                    

                                                    <div class="form-actions">
                                                        <div class="row">
                                                            <div class="col-md-offset-3 col-md-9">
                                                                <button type="submit" class="btn btn-circle green" [disabled]="aboutusForm.invalid || !isValidImage">Submit</button>
                                                                <button type="reset" class="btn btn-circle red btn-outline">Reset</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                                <!-- END FORM-->
                                            </div>
                                        </div>
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->