 <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE HEAD-->
                    <div class="page-head">
                        <!-- BEGIN PAGE TITLE -->
                        
                        
                        <!-- END PAGE TITLE -->
                        <!-- BEGIN PAGE TOOLBAR -->
                        
                        <!-- END PAGE TOOLBAR -->
                    </div>
                    <ul class="page-breadcrumb breadcrumb note note-info" 
                    style="font-size:1.15em; font-weight:bold;text-transform: uppercase; padding:10px; margin-bottom: 20px ">
                        <li>
                            <span aria-hidden="true" class="icon-arrow-left"></span><a routerLink="/imageSlider" style="">Image Slider List</a>
                        </li>
                    </ul>
                    
                    <div class="col-md-11">        
                        <div class="{{alertClass}}">
                            {{errorMsg}}      
                        </div>
                    </div>
                    <!-- END PAGE HEAD-->
                    <!-- BEGIN PAGE BREADCRUMB -->
                   
                    <!-- END PAGE BREADCRUMB -->
                    <!-- BEGIN PAGE BASE CONTENT -->
                    <div class="row">
                        <div class="col-md-12">
                               
                         
                                        <div class="portlet box green">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                   Add Image Slider </div>
                                                <div class="tools">
                                                    <a href="javascript:;" class="collapse"> </a>
                                                    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                                                    <a href="javascript:;" class="reload"> </a>
                                                    <a href="javascript:;" class="remove"> </a>
                                                </div>
                                            </div>
                                            <div class="portlet-body form">
                                                <!-- BEGIN FORM-->
                                                <form [formGroup]="imagesliderForm" class="form-horizontal" (ngSubmit)="onSubmit()">
                                                     
                                                    <div class="form-body">
                                                        <div class="form-group">
                                                            <label class="col-md-3 control-label"> Image Name<i class="required">*</i></label>
                                                            <div class="col-md-4">
                                                <input type="hidden" name="image_slider_id"  [formControl]="imagesliderForm.controls['image_id']" class="form-control input-circle" placeholder="">

                                                                <input type="text" name="image_name"  [formControl]="imagesliderForm.controls['image_name']" class="form-control input-circle" placeholder="">
                                                                <span class="help-block required" *ngIf="imagesliderForm.controls.image_name.invalid && (imagesliderForm.controls.image_name.touched || !imagesliderForm.controls.image_name.pristine)">
                                                               Name is required.
                                                            </span>
                                                            </div>
                                                        </div>
                                                       

                                                        <div class="form-group ">
                                                            <label class="control-label col-md-3">Image<i class="required">*</i></label>
                                                            <div class="col-md-4">
                                                                
                                                                <div class="fileinput fileinput-new" data-provides="fileinput">

                                                         <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                                            <img [src]="imagepath"  alt="" /> </div>
                                                        <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>                                                                        <div>
                                                                              <span class="btn red btn-outline btn-file">
                                                                                  
                                                                            <span class="fileinput-new"> Select image </span>
                                                                            <span class="fileinput-exists"> Change </span>
                                                                                    <input type="file" class="form-control" name="file" [src]="imagesliderForm.controls['image1']" (change)="onChange($event)" >
                                                                            </span>
                                                                            <span class="help-block required" *ngIf="!isValidImage">
                                                                                Please Select an Image with size less than 500KB!
                                                                            </span>
                                                                            <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                                                        </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    

                                                    <div class="form-actions">
                                                        <div class="row">
                                                            <div class="col-md-offset-3 col-md-9">
                                                                <button type="submit" class="btn btn-circle green" [disabled]="imagesliderForm.invalid">Submit</button>
                                                                <button type="reset" class="btn btn-circle red btn-outline">Reset</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                                <!-- END FORM-->
                                            </div>
                                        </div>
                                    
                            
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            </div>