<!-- BEGIN SIDEBAR -->

<!-- END SIDEBAR -->
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">


        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class="fa fa-arrow-circle-right font-dark"  style="font-size: 18px"></i>

                            <span class="caption-subject bold uppercase">App Category List</span>
                            <!--<span
                                *ngIf="isSubcat">Subcategory</span> List</span>-->
                        </div>
                        <div class="btn-group pull-right">
                                <a (click)="downloadexcel()" class="btn btn-default" style="background-color:#01A800;color:white;">Download Excel </a>
                            <a *ngIf="!isSubcat" routerLink="/addcategory" class="btn btn-default"><i class="fa fa-plus"></i> Add App Category</a>
                            <!--<a *ngIf="isSubcat" routerLink="/category/addsubcategory/{{parentId}}" class="btn btn-default"><i class="fa fa-fw fa-dashboard"></i> Add App Subcategory</a>-->
                            <!--<a routerLink="/category" class="btn btn-primary"><i class="fa fa-fw fa-bar-chart-o"></i> App Category List</a>-->
                        </div>
                    </div>







                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column">
                        <thead>

                            <tr>
                                <th>Category ID</th>
                                <th>Category Name</th>
                                <th>Category Image</th>
                                <!--<th><span *ngIf="!isSubcat">Category id </span> 
                                <span *ngIf="isSubcat">Subcategory id </span>
                                </th>
                                <th><span *ngIf="!isSubcat">Category name </span> 
                                <span *ngIf="isSubcat">Subcategory name</span>
                                </th>-->
                                <!--<th *ngIf="!isSubcat">Subcategory</th>-->
                                <th> Action </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let category of posts">
                                <td>{{category.arya_category_id }}</td>
                                <td>{{category.category_name}}</td>
                                <td><img src="{{category.app_image}}" width="150px"></td>

                                <!--<td *ngIf="!isSubcat"><a routerLink="subcat/{{ category.arya_category_id}}"> Subcategory</a></td>-->
                                <td>
                                    <a *ngIf="!isSubcat" routerLink="/addcategory/{{ category.arya_category_id}}">Edit</a>
                                    <!--<a *ngIf="isSubcat" routerLink="/category/addsubcategory/{{parentId}}/{{category.arya_category_id}}">Edit</a>-->
                                </td>


                            </tr>


                        </tbody>
                    </table>




                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>

    <!-- END PAGE BASE CONTENT -->
</div>
<!-- END CONTENT BODY -->