
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                
                   
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="fa fa-user font-dark" style="font-size:18px"></i>
                                        <span class="caption-subject bold uppercase"> Local Attractions</span>
                                    </div>
                                       <div class="btn-group pull-right">
                                        <a routerLink="/addlocalattractions" class="btn btn-default"><i class="fa fa-fw fa-dashboard"></i> Add Local Attractions</a>
                                      </div>
									              </div>

                      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column">
                        <thead >
                          <tr> 
                          <th>ID</th>
                          <th>Image</th>
                          <th >Title</th>
                          <th style="width: 50%;text-align: center">Description</th>
                          
                          <th  style="width: 20%;text-align: center">Nearby Places</th>
                          <th >Reference</th>
                          <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let localattractions of posts;let i=index">
                              <td>{{i+1}}</td>
                              <td><img src="{{localattractions.image_path}}" width="150px"></td>
                              <td>{{localattractions.title}}</td>
                              <td>{{localattractions.description | truncate : 400}}</td> 
                              
                              <td>{{localattractions.nearby_places}}</td>
                              <td ><a href="{{localattractions.reference}}" target="_blank">{{localattractions.reference | truncate : 35}}</a></td>      
                              <td>
                                  <a routerLink="/editlocalattractions/{{localattractions.attraction_id}}">Edit</a>
                              </td>
                           </tr>
                       </tbody>
                                    </table>                                 
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            
