
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                
                   
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="fa fa-star font-dark" style="font-size: 18px"></i>
                                        <span class="caption-subject bold uppercase"> Brahmin Gaurav </span>
                                    </div>
                                       <div class="btn-group pull-right">
                                        <a routerLink="/addbrahmingaurav" class="btn btn-default"><i class="fa fa-plus"></i> Add Brahmin Gaurav</a>
                                      </div>
									              </div>

                      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
 class="table table-striped table-bordered table-hover table-checkable order-column">
                        <thead>
                          <tr> 
                          <th>ID</th>
                          <th>Name</th>
                          <th>About Personality</th>
                        <th>About Awards</th>
                         <th>Image</th>
                         <th>Year</th>
                         <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let brahmingaurav of posts">
                                <td>{{brahmingaurav.our_toppers_id}}</td>
                                <td>{{brahmingaurav.student_name}}</td>
                                <td>{{brahmingaurav.rank}}</td>
                                <td>{{brahmingaurav.subject}}</td>
                                <td><img src={{brahmingaurav.path}} width='200px'></td>
                                <td>{{brahmingaurav.year}}</td>
                              <td>
                                  <a routerLink="/editbrahmingaurav/{{brahmingaurav.our_toppers_id}}">Edit</a>
                              </td>
                           </tr>
                       </tbody>
                                    </table>                                   
                                </div>
                            </div>
                             <!--END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                     <!--END PAGE BASE CONTENT -->
                </div>
                 <!--END CONTENT BODY -->
            

