
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                
                   
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="fa fa-image font-dark" style="font-size: 18px"></i>
                                        <span class="caption-subject bold uppercase"> Image Slider List</span>
                                    </div>
                                        <div class="btn-group pull-right">
                                            <a routerLink="/addImageSlider" class="btn btn-default"><i class="fa fa-plus"></i> Add Image Slider</a>
                                        </div>
									</div>


  
					
                                
                                
                               
                                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column">
                          <thead>
                            <tr>
                                <th>Id</th>
                                <th>Image Name</th>	
                                <th>Image</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let image of posts">
                                <td>{{image.image_slider_id}}</td>
                                <td>{{image.image_name}}</td>
                                <td><img class="img-responsive" src="{{image.image_path}}" style="width:150px"></td>
                                <td><a routerLink="/editImageSlider/{{image.image_slider_id}}">Edit</a></td>                                
                            </tr>

                        </tbody>
                                    </table>                                 
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            
