
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <ul class="page-breadcrumb breadcrumb note note-info" style="font-size:1.15em; font-weight:bold;text-transform: uppercase; padding:10px; margin-bottom: 20px ">
<li>
    <span aria-hidden="true" class="icon-arrow-left"></span><a routerLink="/repository" style="">Back to Repository</a>
</li>
</ul>
                
                   
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        
                                        <i class="icon-settings font-dark"></i>
                                       
                                        <span class="caption-subject bold uppercase">Repository PDF</span>
                                    </div>
                                       <div class="btn-group pull-right">
                                        <a routerLink="/addrepositorypdf/{{id}}" class="btn btn-default"><i class="fa fa-plus"></i> Add Repository PDF</a>
                                      </div>
									              </div>

                      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column" style="width: 100%">
                        <thead>
                          <tr> 
                          <th>ID</th>
                          <th>Title</th>
                          <th>Name of Author</th>
                          <!--<th>Date Time</th>-->
                          <th>Image</th>
                          <!--<th>Path</th>-->
                          <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let repositorypdf of posts">
                              <td>{{repositorypdf.my_notes_id}}</td>
                              <td>{{repositorypdf.title}}</td>
                              <td>{{repositorypdf.description}}</td>
                              <!--<td>{{repositorypdf.datetime}}</td>-->
                              <td><a href="{{repositorypdf.path}}" target="_blank"><img src="{{repositorypdf.image_path}}" width="40px"></a></td> 
                               <!--<td>{{repositorypdf.path}}</td>       -->
                              <td>
                                  <a routerLink="/editrepositorypdf/{{repositorypdf.teacher_id}}/{{repositorypdf.my_notes_id}}">Edit</a>
                              </td>
                           </tr>
                       </tbody>
                                    </table>                                 
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            

