<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
  <!-- BEGIN CONTENT BODY -->
  <div class="page-content">
    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
      <!-- BEGIN PAGE TITLE -->

      <!-- END PAGE TITLE -->
      <!-- BEGIN PAGE TOOLBAR -->

      <!-- END PAGE TOOLBAR -->
    </div>
    <ul class="page-breadcrumb breadcrumb note note-info" style="font-size:1.15em; font-weight:bold;text-transform: uppercase; padding:10px; margin-bottom: 20px ">
<li>
  <span aria-hidden="true" class="icon-arrow-left"></span><a routerLink="/jobposting" style="">Job Posting</a>
</li>
</ul>
<!-- END PAGE HEAD-->
<!-- BEGIN PAGE BREADCRUMB -->

<!-- END PAGE BREADCRUMB -->
<!-- BEGIN PAGE BASE CONTENT -->
<div class="col-md-11">
  <div class="{{alertClass}}">
    {{errorMsg}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">


    <div class="portlet box green">
      <div class="portlet-title">
        <div class="caption">
          Add Job Posting </div>
      </div>
      <div class="portlet-body form">
        <!--BEGIN FORM-->
        <form [formGroup]="jobpostingForm" (ngSubmit)="onSubmit()" class="form-horizontal">

          <div class="form-body">

            <div class="form-group">
              <label class="control-label col-sm-3"> Company Name<i class="required">*</i></label>
              <div class="col-md-4">
                <input type="text" formControlName="company_name" class="form-control input-circle">
                <span class="help-block required" *ngIf="jobpostingForm.controls.company_name.invalid && (jobpostingForm.controls.company_name.touched || !jobpostingForm.controls.company_name.pristine)">
                                                               Name is required.
                                                            </span>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-3">Company Brief<i class="required">*</i></label>
              <div class="col-md-4">
                <textarea formControlName="description" class="form-control input-circle"></textarea>
                <span class="help-block required" *ngIf="jobpostingForm.controls.description.invalid && (jobpostingForm.controls.description.touched || !jobpostingForm.controls.description.pristine)">
                                                               Description is required.
                                                            </span>
              </div>
            </div>


            <div class="form-group">
              <label class="control-label col-sm-3">About Role<i class="required">*</i></label>
              <div class="col-md-4">
                <textarea formControlName="about" class="form-control input-circle"></textarea>
                <span class="help-block required" *ngIf="jobpostingForm.controls.about.invalid && (jobpostingForm.controls.about.touched || !jobpostingForm.controls.about.pristine)">
                                                              Role Description is required.
                                                            </span>
              </div>
            </div>


            <div class="form-group">
              <label class="control-label col-sm-3"> Designation <i class="required">*</i></label>
              <div class="col-md-4">
                <input type="text" formControlName="designation" class="form-control input-circle">
                <span class="help-block required" *ngIf="jobpostingForm.controls.designation.invalid && (jobpostingForm.controls.designation.touched || !jobpostingForm.controls.designation.pristine)">
                                                               Designation is required.
                                                            </span>
              </div>
            </div>

            <!--<div class="form-group">-->
            <div class="form-group">
              <label class="control-label col-sm-3">Job Description<i class="required">*</i></label>
              <div class="col-md-4">
                <textarea formControlName="job_description" class="form-control input-circle"></textarea>
                <span class="help-block required" *ngIf="jobpostingForm.controls.job_description.invalid && (jobpostingForm.controls.job_description.touched || !jobpostingForm.controls.job_description.pristine)">
                                                              Job Description is required.
                                                            </span>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-3"> Experience <i class="required">*</i></label>
              <div class="col-md-4">
                <input type="text" formControlName="experience" class="form-control input-circle">
                <span class="help-block required" *ngIf="jobpostingForm.controls.experience.invalid && (jobpostingForm.controls.experience.touched || !jobpostingForm.controls.experience.pristine)">
                                                               Experience is required.
                                                            </span>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-3"> Skill <i class="required">*</i></label>
              <div class="col-md-4">
                <input type="text" formControlName="skill" class="form-control input-circle">
                <span class="help-block required" *ngIf="jobpostingForm.controls.skill.invalid && (jobpostingForm.controls.skill.touched || !jobpostingForm.controls.skill.pristine)">
                                                               skill is required.
                                                            </span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3"> Job Location <i class="required">*</i></label>
              <div class="col-md-4">
                <input type="text" formControlName="job_location" class="form-control input-circle">
                <span class="help-block required" *ngIf="jobpostingForm.controls.job_location.invalid && (jobpostingForm.controls.job_location.touched || !jobpostingForm.controls.job_location.pristine)">
                                                               Job Location is required.
                                                            </span>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-3"> No. Of Vacancies <i class="required">*</i></label>
              <div class="col-md-4">
                <input type="number" formControlName="no_of_vacancies" class="form-control input-circle">
                <span class="help-block required" *ngIf="jobpostingForm.controls.no_of_vacancies.invalid && (jobpostingForm.controls.no_of_vacancies.touched || !jobpostingForm.controls.no_of_vacancies.pristine)">
                                                               No. of Vacancies is required.
                                                            </span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3"> Job Type <i class="required">*</i></label>
              <div class="col-md-4">
                <input type="text" formControlName="job_type" class="form-control input-circle">
                <span class="help-block required" *ngIf="jobpostingForm.controls.job_type.invalid && (jobpostingForm.controls.job_type.touched || !jobpostingForm.controls.job_type.pristine)">
                                                               Type is required.
                                                            </span>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-3"> Compensation <i class="required">*</i></label>
              <div class="col-md-4">
                <input type="text" formControlName="compensation" class="form-control input-circle">
                <span class="help-block required" *ngIf="jobpostingForm.controls.compensation.invalid && (jobpostingForm.controls.compensation.touched || !jobpostingForm.controls.compensation.pristine)">
                                                             Compensation is required.
                                                            </span>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-3"> Remark <i class="required">*</i></label>
              <div class="col-md-4">
                <input type="text" formControlName="remark" class="form-control input-circle">
                <span class="help-block required" *ngIf="jobpostingForm.controls.remark.invalid && (jobpostingForm.controls.remark.touched || !jobpostingForm.controls.remark.pristine)">
                                                               Remark is required.
                                                            </span>
              </div>
            </div>



          </div>


          <div class="form-actions">
            <div class="row">
              <div class="col-md-offset-3 col-md-9">
                <button type="submit" class="btn btn-circle green" [disabled]="jobpostingForm.invalid">Submit</button>
                <button type="reset" class="btn btn-circle red btn-outline">Reset</button>
              </div>
            </div>
          </div>
        </form>
        <!-- END FORM-->
      </div>
    </div>
  </div>
</div>
<!-- END PAGE BASE CONTENT -->
</div>
<!-- END CONTENT BODY -->