
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                
                   
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="fa fa-arrow-circle-right font-dark"  style="font-size: 18px"></i>

                                        <span class="caption-subject bold uppercase">Order List</span>
                                    </div>
 
									</div>


  
					
                                
                                
                               
                                    <table datatable  [dtTrigger]="dtTrigger"  class="table table-striped table-bordered table-hover table-checkable order-column" >
                          <thead>
                        <tr > 

                        <th> Order id </th>
                        <th>Order Name </th>
                            <th>Order Date </th>
                        <th> Order Item </th>
                        </tr>
                            </thead>
                        <tbody>
                            <tr *ngFor="let order of posts">
                    <td>{{order.order_id }}</td>
                    <td>{{order.name}}</td>
                      <td>{{order.to_char}}</td>        
                    <td>
                         <table class="table table-striped table-bordered table-hover table-checkable order-column">
                          <thead>
                        <tr > 
                        
                        <th style="width:50%">Product Name </th>
                        <th style="text-align: center">Quantity </th>
                        <th style="text-align: center"> Amount </th>
                        </tr>
                            </thead>
                        <tbody>
                            <tr *ngFor="let orderitem of order.Orderitem">
                    <td>{{orderitem.product_name }}</td>
                    <td>{{orderitem.quantity}}</td>
                      <td>{{orderitem.price*orderitem.quantity}} </td>        
                                    

                            </tr>


                    </tbody>
                                    </table>
                                    </td>
                                    

                            </tr>


                    </tbody>
                                    </table>

 

                                 
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            
