
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                
                   
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="icon-settings font-dark"></i>
                                        <span class="caption-subject bold uppercase">past-management</span>
                                    </div>
                                       <div class="btn-group pull-right">
                                            <a routerLink="/addpast-management" class="btn btn-default"><i class="fa fa-fw fa-dashboard"></i> Add past-management</a>
                                       </div>
							    </div>

                      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column">
                        <thead>
                          <tr> 
                          <th>ID</th>
                          <th>Name</th>
                          <th>Description</th>
                          <th>Location</th>
                          <th>Image</th>
                          <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                         <tr *ngFor="let pastmanagement of posts">
                              <td>{{pastmanagement.id}}</td>
                              <td>{{pastmanagement.cat_name}}</td> 
                              <td>{{pastmanagement.description}}</td>
                              <td>{{pastmanagement.job_location}}</td>
                              <td><img src="{{pastmanagement.image_path}}" width="150px"></td>
                              <td>
                                  <a routerLink="/editpastmanagement/{{pastmanagement.id}}/{{pastmanagement.sub_category_id}}">edit</a>
                              </td>
                           </tr>
                       </tbody>
                        </table>                                 
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            
