<!-- BEGIN SIDEBAR -->

<!-- END SIDEBAR -->
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">


      <ul class="page-breadcrumb breadcrumb note note-info" style="font-size:1.15em; font-weight:bold;text-transform: uppercase; padding:10px; margin-bottom: 20px ">
            <li>
                <span aria-hidden="true" class="icon-arrow-left"></span><a routerLink="/survey" style="">Back to Survey</a>
            </li>
        </ul>

        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class="icon-settings font-dark"></i>
                            <span class="caption-subject bold uppercase">Survey Questions</span>
                        </div>
                        <div class="btn-group pull-right">
                            <a routerLink="/addsurveyquestions/{{id}}" class="btn btn-default"><i class="fa fa-plus"></i>Add Survey Questions</a>
                        </div>
                    </div>

                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Questions</th>
                                <th>Answers</th>
                                
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let questions of posts">
                                <td>{{questions.id}}</td>
                                <td>{{questions.question}}</td>
                                <td> a: {{questions.a}} <br>
                                b: {{questions.b}} <br>
                                c: {{questions.c}} <br>
                                d: {{questions.d}}</td>
                                <td>
                                    <a routerLink="/editsurveyquestions/{{questions.survey_id}}/{{questions.id}}">Edit</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
    <!-- END PAGE BASE CONTENT -->
</div>
<!-- END CONTENT BODY -->