
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                
                   
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="fa fa-user font-dark" style="font-size:18px"></i>
                                        <span class="caption-subject bold uppercase"> History</span>
                                    </div>
                                       <!--<div class="btn-group pull-right">
                                        <a routerLink="/addhistory" class="btn btn-default"><i class="fa fa-fw fa-dashboard"></i> Add History</a>
                                      </div>-->
									              </div>

                      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column">
                        <thead>
                          <tr> 
                          <th>ID</th>
                          <th style="text-align: center">Image</th>
                          <th style="width:80%; text-align: center">Description</th>
                          <th style="text-align: center">Link</th>
                          <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let history of posts;let i=index">
                              <td>{{i+1}}</td>
                              <td><img src="{{history.image_path}}" width="150px"></td>
                              <td>{{history.description}}</td>  
                              <td ><a href="{{history.link}}" target="_blank">{{history.link | truncate : 30}}</a></td>     
                              <td>
                                  <a routerLink="/edithistory/{{history.history_id}}">Edit</a>
                              </td>
                           </tr>
                       </tbody>
                                    </table>                                 
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            
