.login{
    background-image:url(../../assets/loginbg.jpg) !important; 
    padding:156px;
    /*background-size: auto;*/
}

.content{
    background-color:transparent !important;
    margin-left:0px !important;
}

.border5{
    border-radius:5px !important;
}

.border10{
    border-radius:10px !important;
}

.login .content .form-control{
    background-color: transparent !important;
}