<div class="login loginbg">
 
        <div class="content">
           
<form [formGroup]="loginForm" (ngSubmit)="doLogin($event)">      
              <h3 class="form-title" style="color:#e71737;">MFSS E-CONNECT</h3>
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    <span> Enter any username and password. </span>
                </div>
                <div class="form-group">
                    
                    <label class="control-label visible-ie8 visible-ie9">Username</label>
                    <input class="form-control form-control-solid placeholder-no-fix border5" formControlName="username" type="text" autocomplete="off" placeholder="Username" /> 
                    <span class="help-block required" *ngIf="loginForm.controls.username.invalid && (loginForm.controls.username.touched || !loginForm.controls.username.pristine)">
                        User Name is required.
                    </span>
                </div>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Password</label>
                    <input class="form-control form-control-solid placeholder-no-fix border5" formControlName="password" type="password" autocomplete="off" placeholder="Password" /> 
                    <span class="help-block required" *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.touched || !loginForm.controls.password.pristine)">
                        Password is required.
                    </span>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn uppercase col-md-12 border10" routerLink="/dashboard" style="color:white;background-color:#e71737;">Login</button>
                </div>
                <div class="{{alertClass}}">{{errorMsg}}</div>
                
            </form>
           
        </div>
</div>

<!--<div class="col-md-12 col-xs-12 col-sm-12 login">
    <div class="col-md-6 col-xs-12 col-sm-6">
        <div class="form-group col-md-12">
            <input class="form-control" placeholder="Enter Username">
        </div>
        <div class="form-group col-md-12">
            <input class="form-control" placeholder="Enter Password">
        </div>
    </div>
</div>-->