
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">


                      <ul class="page-breadcrumb breadcrumb note note-info" style="font-size:1.15em; font-weight:bold;text-transform: uppercase; padding:10px; margin-bottom: 20px ">
<li>
    <span aria-hidden="true" class="icon-arrow-left"></span><a routerLink="/albumlist" style="">Photo Album</a>
</li>
</ul>
                
                   
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="fa fa-camera-retro font-dark" style="font-size: 18px"></i>
                                        <span class="caption-subject bold uppercase">Photo Album Images</span>
                                    </div>
                                       <div class="btn-group pull-right">
                                        <a routerLink="/addalbumimagelist/{{album_category_id}}" class="btn btn-default"><i class="fa fa-plus"></i> Add Image</a>
                                      </div>
									              </div>

                      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column">
                        <thead>
                          <tr> 
                          <th>ID</th>
                          <th>Image Name</th>
                          <th>Image</th>
                          
                          <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let album of posts">
                              <td>{{album.album_images_id}}</td>
                              <td>{{album.image_name}}</td>
                              <td><img src="{{album.path}}" width="150px"></td> 
                                  
                              <td>
                            <a routerLink="/editalbumimage/{{album.category}}/{{album.album_images_id}}">Edit</a>
                              </td>
                           </tr>
                       </tbody>
                                    </table>                                 
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            
