
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                
                   
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="fa fa-forumbee font-dark" style="font-size:18px"></i>
                                        <span class="caption-subject bold uppercase"> Forum</span>
                                    </div>
                                       <div class="btn-group pull-right">
                                        <a routerLink="/addforum" class="btn btn-default"><i class="fa fa-plus"></i> Add Forum</a>
                                      </div>
									              </div>

                      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column">
                        <thead>
                          <tr> 
                          <th>ID</th>
                          <th>Title</th>
                          <th>Description</th>
                          <th>Image</th>
                          <th>List Of Banners</th>
                          <!--<th>Experts Conversation</th>-->
                          <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let forum of posts">
                              <td>{{forum.forum_id}}</td>
                              <td>{{forum.title}}</td>
                              <td>{{forum.description | truncate : 250}}</td>
                              <td><img src="{{forum.attachment}}" width="50px"></td>   
                              <td>
                                  <a routerLink="/viewbanners/{{forum.forum_id}}">View Banners</a>
                              </td>
                              <!--<td>
                                  <a routerLink="/speaktoexpert/{{forum.forum_id}}">Experts Chat</a>
                              </td>-->
                              <td>
                                  <a routerLink="/editforum/{{forum.forum_id}}">Edit</a>
                              </td>
                           </tr>
                       </tbody>
                                    </table>                                 
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            
