
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                
                   
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="icon-settings font-dark"></i>
                                        <span class="caption-subject bold uppercase">Newsletter List</span>
                                    </div>
                                       <div class="btn-group pull-right">
                                        <a routerLink="/addnewsletterlist/{{subject_id}}/{{teacher_id}}" class="btn btn-default"><i class="fa fa-fw fa-dashboard"></i> Add Newsletter List</a>
                                      </div>
									              </div>

                      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
 class="table table-striped table-bordered table-hover table-checkable order-column">
                        <thead>
                          <tr> 
                          <th>ID</th>
                          <th>Title</th>
                          <th>Description</th>
                          <th>File</th>
                          <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let newsletterlist of posts">
                              <td>{{newsletterlist.my_notes_id}}</td>
                              <td>{{newsletterlist.title}}</td>
                              <td>{{newsletterlist.description}}</td>
                              <td><img src="{{newsletterlist.path}}" width="150px"></td>
                              <td>
                                  <a routerLink="/editnewsletterfile/{{newsletterlist.my_notes_id}}/{{subject_id}}/{{teacher_id}}">Edit</a>
                              </td>
                           </tr>
                       </tbody>
                                    </table>                                 
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
