<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
  <!-- BEGIN CONTENT BODY -->
  <div class="page-content">
    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
      <!-- BEGIN PAGE TITLE -->

      <!-- END PAGE TITLE -->
      <!-- BEGIN PAGE TOOLBAR -->

      <!-- END PAGE TOOLBAR -->
    </div>
    <ul class="page-breadcrumb breadcrumb note note-info" style="font-size:1.15em; font-weight:bold;text-transform: uppercase; padding:10px; margin-bottom: 20px ">
<li>
  <span aria-hidden="true" class="icon-arrow-left"></span><a routerLink="/speaktoexpert/{{id}}" style="">Back to Speak to Experts</a>
</li>
</ul>
<!-- END PAGE HEAD-->
<!-- BEGIN PAGE BREADCRUMB -->

<!-- END PAGE BREADCRUMB -->
<!-- BEGIN PAGE BASE CONTENT -->
<div class="col-md-11">
  <div class="{{alertClass}}">
    {{errorMsg}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">


    <div class="portlet box green">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-gift"></i>Reply </div>
      </div>
      <div class="portlet-body form">
        <!--BEGIN FORM-->
        <form [formGroup]="expertanswerForm" (ngSubmit)="onSubmit()" class="form-horizontal">

          <div class="form-body">
            <div class="form-group">
              <label class="control-label col-sm-3">Subject : </label>
              <div class="col-md-4">
                <input type="text" formControlName="subject" class="form-control" disabled />
                <span class="help-block required" *ngIf="expertanswerForm.controls.subject.invalid && (expertanswerForm.controls.subject.touched || !expertanswerForm.controls.subject.pristine)">
                                                               
                                                            </span>
              </div>
            </div>



            <div class="form-group">
              <label class="control-label col-sm-3">Message : </label>
              <div class="col-md-4">
                <input type="text" formControlName="message" class="form-control " disabled/>
                <span class="help-block required" *ngIf="expertanswerForm.controls.message.invalid && (expertanswerForm.controls.message.touched || !expertanswerForm.controls.message.pristine)">
                                                               
                                                            </span>
              </div>
            </div>



            <!--<div class="form-group ">
              <label class="control-label col-md-3">Image: <i class="required">*</i></label>
              <div class="col-md-4">

                <div class="fileinput fileinput-new" data-provides="fileinput">
                  <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
<img [src]="expertanswerForm.controls['file']"> </div>
<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
<div>
  <!--<span class="btn red btn-outline btn-file">                                                                                  
                                                                                <span class="fileinput-new"> Select image </span>-->
  <!--<span class="fileinput-exists"> Change </span>-->
  <!--<input type="file" class="form-control" name="file" [src]="bannersForm.controls['image']"  disabled>-->
  <!--</span>-->
  <!--<span class="help-block required" *ngIf="!isFileLoaded">
                                                                                Please Select an Image!
                                                                            </span>-->
  <!--<a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
  <span class="help-block required" *ngIf="!isValidImage">
                                                                                Please Select an Image with size less than 500KB!
                                                                            </span>-->
<!--</div>
</div>
</div>-->

<!--</div>-->












<div class="form-group">
  <label class="control-label col-sm-3">Reply<i class="required">*</i></label>
  <div class="col-md-4">
    <textarea formControlName="answer" class="form-control input-circle"></textarea>
    <span class="help-block required" *ngIf="expertanswerForm.controls.answer.invalid && (expertanswerForm.controls.answer.touched || !expertanswerForm.controls.answer.pristine)">
                                                               Reply is required.
                                                            </span>
  </div>
</div>

</div>


<div class="form-actions">
  <div class="row">
    <div class="col-md-offset-3 col-md-9">
      <button type="submit" class="btn btn-circle green" [disabled]="expertanswerForm.invalid">Submit</button>
      <button type="reset" class="btn btn-circle red btn-outline">Reset</button>
    </div>
  </div>
</div>
</form>
<!-- END FORM-->
</div>
</div>
</div>
</div>
<!-- END PAGE BASE CONTENT -->
</div>
<!-- END CONTENT BODY -->