<!-- BEGIN SIDEBAR -->
            <div class="page-sidebar-wrapper">
                <!-- BEGIN SIDEBAR -->
                <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                <div class="page-sidebar navbar-collapse collapse">
                    <!-- BEGIN SIDEBAR MENU -->
                    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
                    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
                    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
                    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
                    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                    <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                                                       
                                <!-- <li class="nav-item start {{menu.class}}" *ngFor="let menu of sidebarMenu" (click)="onClick(menu.name)">
                                    <a routerLink="{{menu.path}}" class="nav-link " (click)="dispnone(menu.name)">
                                        <i class="{{menu.icon}}"></i>
                                        <span class="title">{{menu.name}}</span>
                                        <i class="{{menu.icon2}}" ></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    
                                    <ul class="sub-menu" id="show">
                                            <li class="nav-item start {{menu1.class}}" *ngFor="let menu1 of marketplace" (click)="onClick1(menu1.name)">
                                                    <a routerLink="{{menu1.path}}" class="nav-link ">
                                                        <i class="{{menu1.icon}}"></i>
                                                        <span class="title">{{menu1.name}}</span>
                                                    </a>
                                                </li>

                                    </ul>

                                </li>     -->

                                <li class="nav-item start {{menu.class}}" *ngFor="let menu of sidebarMenu" >
                                    <a routerLink="{{menu.path}}" class="nav-link "  >
                                        <i class="{{menu.icon}}"></i>
                                        <span class="title">{{menu.name}}</span>
                                        <span class="fa fa-angle-down fa-lg" *ngIf="menu.submenu != undefined" ></span>
                                    </a>
                                    
                                    <!-- <a href="javascript:;" class="nav-link nav-toggle" *ngIf="menu.name==MarketPlace" (click)="dispnone()">
                                        <i class="{{menu.icon}}"></i>
                                        <span class="title">{{menu.name}}</span>
                                        <span class="fa fa-angle-down fa-lg" *ngIf="menu.submenu != undefined" ></span>
                                    </a> -->
                                    <ul class="sub-menu" id="show" *ngIf="menu.submenu != undefined" >
                                        <li class="nav-item"  *ngFor="let submen of menu.submenu"  >
                                            
                                            <a  routerLink="{{submen.path}}" class="nav-link ">
                                                <span  class="title">{{submen.name}}</span>
                                            </a>
                                        </li>
                                      
                                        
                                    </ul>  
                                </li>  
                    </ul>
                    <!-- END SIDEBAR MENU -->
                </div>
                <!-- END SIDEBAR -->
            </div>
            <!-- END SIDEBAR -->
