
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <ul class="page-breadcrumb breadcrumb note note-info" style="font-size:1.15em; font-weight:bold;text-transform: uppercase; padding:10px; margin-bottom: 20px ">
<li>
    <span aria-hidden="true" class="icon-arrow-left"></span><a routerLink="/productlist" style="">Back to Product</a>
</li>
</ul>
                
                   
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        
                                        <i class="icon-settings font-dark"></i>
                                       
                                        <span class="caption-subject bold uppercase">More Product Images </span>
                                    </div>
									              </div>

                      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column">
                        <thead>
                          <tr> 
                          <th>ID</th>
                          <!--<th>Image</th>
                          <th>Name of Author</th>-->
                          <!--<th>Date Time</th>-->
                          <th>Image 1</th>
                           <th>Image 2</th>
                            <th>Image 3</th>
                             <th>Image 4</th>
                          <!--<th>Path</th>-->
                          
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let post of posts;let i=index;">
                              <td>{{i+1}}</td>
                              <!--<td>{{moreproductimages.title}}</td>
                              <td>{{moreproductimages.description}}</td>-->
                              <!--<td>{{moreproductimages.datetime}}</td>-->
                              <td><img src="{{post.extra_image.image2}}" width="80px"></td>
                               <td><img src="{{post.extra_image.image3}}" width="80px"></td>
                                <td><img src="{{post.extra_image.image4}}" width="80px"></td>
                                 <td><img src="{{post.extra_image.image5}}" width="80px"></td> 
                               <!--<td>{{moreproductimages.path}}</td>       -->
                              
                           </tr>
                       </tbody>
                                    </table>                                 
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            


