
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                
                   
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="icon-settings font-dark"></i>
                                        <span class="caption-subject bold uppercase">Workshops</span>
                                    </div>
                                       <div class="btn-group pull-right">
                                        <a routerLink="/addWorkshops" class="btn btn-default"><i class="fa fa-fw fa-dashboard"></i> Add Workshops</a>
                                      </div>
									              </div>

                      <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                        <thead>
                          <tr> 
                          <th>ID</th>
                          <th>Workshop name</th>
                          <th>Description</th>
                          <th>Image</th>
                          <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let workshop of posts">
                              <td>{{workshop.our_toppers_id}}</td>
                              <td>{{workshop.student_name}}</td>
                              <td>{{workshop.subject | truncate : 250}}</td>
                              <td><img src="{{workshop.path}}" width="150px"></td>       
                              <td>
                                  <a routerLink="/editWorkshops/{{workshop.our_toppers_id}}">Edit</a>
                              </td>
                           </tr>
                       </tbody>
                                    </table>                                 
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
