
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                
                   
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="icon-settings font-dark"></i>
                                        <span class="caption-subject bold uppercase">Newsletter</span>
                                    </div>
                                       <!--<div class="btn-group pull-right">
                                        <a routerLink="/add-newsletter" class="btn btn-default"><i class="fa fa-fw fa-dashboard"></i> Add Newsletter</a>
                                      </div>-->
									              </div>

                      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
 class="table table-striped table-bordered table-hover table-checkable order-column">
                        <thead>
                          <tr> 
                          <th>ID</th>
                          <th>Newsletter Category</th>
                          <th>Newsletter Subcategory</th>
                          <!--<th>Action</th>-->
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let newsletter of posts">
                              <td>{{newsletter.id}}</td>
                              <td>{{newsletter.name}}</td>
                              <td><a routerLink="/newsletter-subcategory/{{newsletter.id}}">Subcategory</a></td>
                              <!--<td>
                                  <a routerLink="/editnewsletter/{{newsletter.id}}/{{newsletter.teacher_id}}">Edit</a>
                              </td>-->
                              <!--<td>
                                  <a routerLink="/editnewsletter/{{newsletter.id}}">Add Newsletter</a>
                              </td>-->
                           </tr>
                       </tbody>
                                    </table>                                 
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
