<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->

            <!-- END PAGE TITLE -->
            <!-- BEGIN PAGE TOOLBAR -->

            <!-- END PAGE TOOLBAR -->
        </div>
        <ul class="page-breadcrumb breadcrumb note note-info" style="font-size:1.15em; font-weight:bold;text-transform: uppercase; padding:10px; margin-bottom: 20px ">
<li>
    <span aria-hidden="true" class="icon-arrow-left"></span><a routerLink="/calender" style="">Calender</a>
</li>
</ul>
<!-- END PAGE HEAD-->
<!-- BEGIN PAGE BREADCRUMB -->

<!-- END PAGE BREADCRUMB -->
<!-- BEGIN PAGE BASE CONTENT -->
<div class="col-md-11">
    <div class="{{alertClass}}">
        {{errorMsg}}
    </div>
</div>
<div class="row">
    <div class="col-md-12">


        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    Add Calender</div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form [formGroup]="calenderForm" (ngSubmit)="onSubmit()" class="form-horizontal">

                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-sm-3">Title<i class="required">*</i></label>
                            <div class="col-md-4">
                                <input type="text" formControlName="title" class="form-control input-circle">
                                <span class="help-block required" *ngIf="calenderForm.controls.title.invalid && (calenderForm.controls.title.touched || !calenderForm.controls.title.pristine)">
                                                               Title is required.
                                                            </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Subject<i class="required">*</i></label>
                            <div class="col-md-4">
                                <input type="text" formControlName="subject" class="form-control input-circle">
                                <span class="help-block required" *ngIf="calenderForm.controls.subject.invalid && (calenderForm.controls.subject.touched || !calenderForm.controls.subject.pristine)">
                                                               Subject is required.
                                                            </span>
                            </div>
                        </div>

                       

<!--<div class="form-group">
                            <label class="control-label col-sm-3">Event Date<i class="required">*</i></label>
                        <div class="col-md-3">
                            <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy" data-date-start-date="+0d">
                                <input type="text" class="form-control" formControlName="event_date">
                                <span class="input-group-btn">
                                                            <button class="btn default" type="button">
                                                                <i class="fa fa-calendar">
                                                                </i>
                                                            </button>
                                                        </span>
                            </div>
                            <!-- /input-group -->
                            <!--<span class="help-block required" *ngIf="calenderForm.controls.event_date.invalid && (calenderForm.controls.event_date.touched || !calenderForm.controls.event_date.pristine)"> Select date </span>
                        </div>
                        </div>-->


                                    <div class="form-group">
                                                          <label class="control-label col-sm-3">Event date<i class="required">*</i></label>
                                                          <div class="col-md-4">

                                                            <input type="date" [formControl]="calenderForm.controls['event_date']" name="event_date" class="form-control" >
                                                          
                                                          </div>
                                                        </div>


                                                         <div class="form-group">
                            <label class="control-label col-sm-3">Event Time<i class="required">*</i></label>
                            <div class="col-md-4">
                                <input type="text" formControlName="event_time" class="form-control input-circle" placeholder="HH:mm PM/AM">
                                <span class="help-block required" *ngIf="calenderForm.controls.event_time.invalid && (calenderForm.controls.event_time.touched || !calenderForm.controls.event_time.pristine)">
                                                               Event Date is required.
                                                            </span>
                            </div>
                        </div>



                <div class="form-group">
                            <label class="control-label col-sm-3">Description<i class="required">*</i></label>
                            <div class="col-md-4">
                                <textarea formControlName="description" class="form-control input-circle"></textarea>
                                <span class="help-block required" *ngIf="calenderForm.controls.description.invalid && (calenderForm.controls.description.touched || !calenderForm.controls.description.pristine)">
                                                               Description is required.
                                                            </span>
                            </div>
                        </div>




                        <div class="form-group">
                            <label class="control-label col-sm-3">Venue<i class="required">*</i></label>
                            <div class="col-md-4">
                                <input type="text" formControlName="venue" class="form-control input-circle">
                                <span class="help-block required" *ngIf="calenderForm.controls.venue.invalid && (calenderForm.controls.venue.touched || !calenderForm.controls.venue.pristine)">
                                                               Venue is required.
                                                            </span>
                            </div>
                        </div>




                        <div class="form-group ">
                                                            <label class="control-label col-md-3">Image<i class="required">*</i></label>
                                                            <div class="col-md-4">
                                                                
                                                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                                                <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                                            <img [src]="imagepath"  alt="" /> </div>
                                                        <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>                                                                        <div>
                                                                            <span class="btn red btn-outline btn-file">                                                                                  
                                                                                <span class="fileinput-new"> Select image </span>
                                                                                <span class="fileinput-exists"> Change </span>
                                                                                <input type="file" class="form-control" name="file" [src]="calenderForm.controls['image_path']" (change)="onChange($event)" >
                                                                            </span>
                                                                            
                                                                            <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>


                                                                            <span class="help-block required" *ngIf="!isValidImage">
                                                                                Please Select an Image with size less than 500KB!
                                                                            </span>
                                                                        </div>
                                                                </div>
                                                            </div>

                                                        </div>


                    </div>


                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn btn-circle green" [disabled]="calenderForm.invalid">Submit</button>
                                <button type="reset" class="btn btn-circle red btn-outline">Reset</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>
<!-- END PAGE BASE CONTENT -->
</div>
<!-- END CONTENT BODY -->