
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                
                   
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="fa fa-newspaper-o font-dark"  style="font-size: 19px"></i>
                                        <span class="caption-subject bold uppercase">News</span>
                                    </div>
                                       <div class="btn-group pull-right">
                                        <a routerLink="/addnews" class="btn btn-default"><i class="fa fa-plus"></i> Add News</a>
                                      </div>
									              </div>

                      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column">
                        <thead>
                          <tr> 
                          <th>ID</th>
                          <th>Title</th>
                          <th>Description</th>
                          <!--<th>Location</th>-->
                          <th>Attachment</th>
                          <!--<th>type</th>-->
                          <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let news of posts;let i=index">
                              <td>{{i+1}}</td>
                              <td>{{news.title}}</td>
                              <td>{{news.description}}</td>
                              <!--<td>{{news.location}}</td>-->
                              <td><img src="{{news.image_path}}" width=200px></td>
                              <!--<td>{{news.type}}</td>       -->
                              <td>
                                  <a routerLink="/editnews/{{news.news_id}}">Edit</a>
                              </td>
                           </tr>
                       </tbody>
                                    </table>                                 
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            


