

            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                
                   
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="icon-settings font-dark"></i>
                                        <span class="caption-subject bold uppercase">Important Info</span>
                                    </div>
                                       <div class="btn-group pull-right">
                                        <a routerLink="/addimportantinfo" class="btn btn-default"><i class="fa fa-fw fa-dashboard"></i> Add Important Info</a>
                                      </div>
									              </div>

                      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column">
                        <thead>
                          <tr> 
                          <th>ID</th>
                          <th>Category Name</th>
                          <th>Title</th>
                          <th>Description</th>
                          <th>Image</th>
                          <th>Date</th>
                          <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let importantinfo  of posts">
                               
                               <td>{{importantinfo.news_info_id}}</td>
                              <td>{{importantinfo.cat_name}}</td>
                              <td>{{importantinfo.title}}</td>
                               <td>{{importantinfo.description | truncate : 250}}</td> 
                              <td><img src="{{importantinfo.image_path}}" width="150px"></td>   
                           
                              <td>{{importantinfo.datetime}}</td>

                              
                              <td>
                                  <a routerLink="/editimportantinfo/{{importantinfo.news_info_id}}">Edit</a>
                              </td>
                           </tr>
                       </tbody>
                                    </table>                                 
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            
