
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                
                   
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="icon-settings font-dark"></i>
                                        <span class="caption-subject bold uppercase">List of Enquiries</span>
                                    </div>
                                </div>

                      <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                        <thead>
                          <tr> 
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email Id</th>
                            <th>Mobile No.</th>
                            <th>City</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let post of posts">
                              <td>{{post.enquiry_id}}</td>
                              <td>{{post.name}}</td>
                              <td>{{post.email_id}}</td>
                              <td>{{post.mobile_no}}</td>
                              <td>{{post.city}}</td>
                           </tr>
                       </tbody>
                                    </table>                                 
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            
