
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">

                     <ul class="page-breadcrumb breadcrumb note note-info" 
                    style="font-size:1.15em; font-weight:bold;text-transform: uppercase; padding:10px; margin-bottom: 20px ">
                        <li>
                            <span aria-hidden="true" class="icon-arrow-left"></span><a routerLink="/forum" style=""> Back to Forum</a>
                        </li>
                    </ul>
                
                   
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="icon-settings font-dark"></i>
                                        <span class="caption-subject bold uppercase">Banners</span>
                                    </div>
                                       <div class="btn-group pull-right">
                                        <a routerLink="/addbanners/{{id}}" class="btn btn-default"><i class="fa fa-plus"></i> Add Banners</a>
                                      </div>
									              </div>

                      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column">
                        <thead>
                          <tr> 
                          <th>ID</th>
                          <th>Link</th>
                          <th>Image</th>
                          <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let banners of posts">
                              <td>{{banners.forum_banner_id}}</td>
                              <td><a href="{{banners.url}}" target="_blank">{{banners.url}}</a></td>
                              <td><img src="{{banners.image}}" width="150px"></td>
                              <td>
                                  <a routerLink="/editbanners/{{banners.forum_id}}/{{banners.forum_banner_id}}">Edit</a>
                              </td>
                           </tr>
                       </tbody>
                                    </table>                                 
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            
