<!-- BEGIN SIDEBAR -->

<!-- END SIDEBAR -->
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">


        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class="fa fa-thumbs-o-up font-dark" style="font-size: 18px"></i>
<span class="caption-subject bold uppercase"> Interested Categories </span>
</div>
<!--<div class="btn-group pull-right">
                                        <a routerLink="/catinterest" class="btn btn-default"> </a>
                                      </div>-->
</div>

<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column">
    <thead>
        <tr>
            <!--<th>ID</th>
                          <th>User Name</th>
                          <th>E-mail</th>
                          <th>Mobile Number</th>-->
            <th>Category ID</th>
            <th>Category Name</th>
            <!--<th>Item Name</th>-->

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>7</td>
            <td><a routerLink="/catinterestsub/7">Community Funding</a></td>
        </tr>
        <tr>
            <td>8</td>
            <td><a routerLink="/catinterestsub/8">Job Posting</a></td>
        </tr>
        <tr>
            <td>38</td>
            <td><a routerLink="/catinterestsub/38">Business Opportunity</a></td>
        </tr>
        <!--<tr *ngFor="let catinterest of posts">
                              <td>{{catinterest.cat_interest_id}}</td>
                              <td>{{catinterest.name}}</td>
                              <td>{{catinterest.email}}</td>
                              <td>{{catinterest.mobile_no}}</td>
                              <td>{{catinterest.cat_name}}</td>
                              <td>{{catinterest.item_name}}</td>       
                            
                           </tr>-->
    </tbody>
</table>
</div>
</div>
<!--END EXAMPLE TABLE PORTLET-->
</div>
</div>
<!--END PAGE BASE CONTENT -->
</div>
<!--END CONTENT BODY -->