<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
  <!-- BEGIN CONTENT BODY -->
  <div class="page-content">
      <!-- BEGIN PAGE HEAD-->
      <div class="page-head">
          <!-- BEGIN PAGE TITLE -->

          <!-- END PAGE TITLE -->
          <!-- BEGIN PAGE TOOLBAR -->

          <!-- END PAGE TOOLBAR -->
      </div>
      <!--<ul class="page-breadcrumb breadcrumb note note-info" 
                  style="font-size:1.15em; font-weight:bold;text-transform: uppercase; padding:10px; margin-bottom: 20px ">
                      <li>
                          <span aria-hidden="true" class="icon-arrow-left"></span><a routerLink="/bod" style="">Board Of Directors</a>
                      </li>
                  </ul>-->
      <!-- END PAGE HEAD-->
      <!-- BEGIN PAGE BREADCRUMB -->

      <!-- END PAGE BREADCRUMB -->
      <!-- BEGIN PAGE BASE CONTENT -->
      <div class="col-md-11">
          <div class="{{alertClass}}">
              {{errorMsg}}
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">


              <div class="portlet box green">
                  <div class="portlet-title">
                      <div class="caption">
                                                  <i ></i>Send New Messages</div>                                               
                  </div>
                  <div class="portlet-body form">
                      <!-- BEGIN FORM-->
                      <form [formGroup]="MessageForm" (ngSubmit)="onSubmit()" class="form-horizontal">

                          <div class="form-body">

                              <div class="form-group">
                                  <label class="control-label col-sm-3">Title<i class="required">*</i></label>
                                  <div class="col-md-4">
                                      <input type="text" required formControlName="title"  autofocus class="form-control input-circle">
                                      <span class="help-block required" *ngIf="MessageForm.controls.title.invalid && (MessageForm.controls.title.touched || !MessageForm.controls.title.pristine)">
                                                             Title is required.
                                                          </span>
                                  </div>
                              </div>

                              <div class="form-group">
                                  <label class="control-label col-sm-3">Message<i class="required">*</i></label>
                                  <div class="col-md-4">
                                      <textarea required formControlName="msg" class="form-control input-circle"></textarea>
                                      <!--<textarea  class="form-control input-circle"></textarea>-->
                                      <span class="help-block required" *ngIf="MessageForm.controls.msg.invalid && (MessageForm.controls.msg.touched || !MessageForm.controls.msg.pristine)">
                                                             Message is required.
                                                          </span>
                                  </div>
                              </div>


                             
<!-- 
                                  <div class="form-group">
                                          <label class="control-label col-sm-3">Location<i class="required">*</i></label>
                                          <div class="col-md-4">
                                                <input  type="text" formControlName="geography"
                                                class="form-control input-circle"
                                                (city)="getcity($event)"
                                                
                                                 id="autocomplete"
                                                ng2-google-place-autocomplete/> -->
                                              <!-- <select formControlName="geography" class="form-control input-circle">
                                                                    <option value="Mumbai Central">Mumbai Central</option> 
                                                                    <option value="Mumbai Western">Mumbai Western</option>
                                                                    <option value="Maharashtra">Maharashtra</option>
                                                                    <option value="Outside Maharashtra">Outside Maharashtra</option>
                                                                  </select> -->
                                                                  <!-- <span class="help-block required" *ngIf="MessageForm.controls.geography.invalid && (MessageForm.controls.geography.touched || !MessageForm.controls.geography.pristine)">
                                                                     Location is required.
                                                                  </span>
                                          </div>
                                      </div>     -->


                                      <div class="form-group">
                                        <label class="control-label col-sm-3">Send To<i class="required">*</i></label>
                                        <div class="col-md-4">
                                              <!-- <input type="text" formControlName="cat_name" class="form-control input-circle"> -->
                                              <select class="form-control" formControlName="usertype" required class="form-control input-circle">                      
                                                      <option value="" selected="selected">--Select Category--</option>   
                                            
                                                                  
                                                                  <option value="null">All users</option>
                                                                  <option value="villager">Villager</option>
                                                                  <option value="panchayat">Panchayat</option>
                                                                  <!--<option value="all association members">All Association members</option>
                                                                  <option value="all mumbai">All Mumbai</option>
                                                                  <option value="manufacturer">Manufacturer</option>
                                                                  <option value="service provider">Service Provider</option>
                                                                  <option value="distributor">Distributor</option>-->
                                                                </select>
                                                                <span class="help-block required" *ngIf="MessageForm.controls.usertype.invalid && (MessageForm.controls.usertype.touched || !MessageForm.controls.usertype.pristine)">
                                                                   Send To is required.
                                                                </span>
                                        </div>
                                    </div>
  

                              <!-- <div class="form-group ">
                                  <label class="control-label col-md-3">Attachment<i class="required">*</i></label>
                                  <div class="col-md-4">

                                      <div class="fileinput fileinput-new" data-provides="fileinput">
                                          <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                              <img [src]="imagepath" alt="" /> </div>
                                          <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
                                          <div>
                                              <span class="btn red btn-outline btn-file">                                                                                  
                                                                              <span class="fileinput-new"> Select File </span>
                                              <span class="fileinput-exists"> Change </span>
                                              <input type="file" class="form-control" name="file" [src]="MessageForm.controls['url']" (change)="onChange($event)">
                                              </span>
                                              <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                              <span class="help-block required" *ngIf="!isValidImage">
                                                                              Please Select a File with size less than 1000KB!
                                                                          </span>
                                          </div>
                                      </div>
                                  </div>

                              </div> -->


                          </div>


                          <div class="form-actions">
                              <div class="row">
                                  <div class="col-md-offset-3 col-md-9">
                                      <button type="submit" class="btn btn-circle green" [disabled]="MessageForm.invalid">Submit</button>
                                      <button type="reset" class="btn btn-circle red btn-outline">Reset</button>
                                  </div>
                              </div>
                          </div>
                      </form>
                      <!-- END FORM-->
                  </div>
              </div>
          </div>
      </div>
      <!-- END PAGE BASE CONTENT -->
  </div>
  <!-- END CONTENT BODY -->