<!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                
                   
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="fa fa-camera-retro font-dark" style="font-size: 18px"></i>
                                        <span class="caption-subject bold uppercase">Photo Albums </span>
                                    </div>
                                       <div class="btn-group pull-right">
                                        <a routerLink="/addalbum" class="btn btn-default"><i class="fa fa-plus"></i> Add Photo Album</a>
                                      </div>
									              </div>

                      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column">
                        <thead>
                          <tr> 
                          <th>ID</th>
                          <th>Album Name</th>
                          <th>Album Images</th>
                          <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let album of posts;let i=index">
                                 <td>{{i+1}}</td>
                                 <td>{{album.catgeory_name}}</td>
                                 <td><a routerLink="/viewalbum/{{album.album_category_id}}">View Album Images</a></td>
                                 <!-- <td><img src="{{album.path}}" width="100px"></td> -->
                                 <td style="text-align:center"><a routerLink="/editalbumlist/{{album.album_category_id}}" class="btn btn-default input-circle" style="background-color:#01A800;color:white" ><i class="fa fa-pencil-square"></i> Edit</a><br><br>
                                    <!-- <a (click)="deleteproduct(category.product_id)" class="btn btn-default input-circle" style="background-color:#EC3237;color:white"><i class="fa fa-trash-o"></i> Delete </a> -->
                                
                                                                      <!-- Trigger the modal with a button -->
<button type="button" class="btn btn-default input-circle" data-toggle="modal" data-target="#myModal2" (click)="deletephotogallery(album.album_category_id)" style="background-color:#01A800;color:white"><i class="fa fa-trash-o"></i> Delete</button>

<!-- Modal -->
<div id="myModal2" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <!-- <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        
      </div> -->
      <div class="modal-body">
        <h4>Are you Sure you want to delete this Album ?</h4>
      </div>
      <div class="modal-footer">
            <input type="button" class="btn btn-default" style="background-color:#01A800;color:white" value='Yes'(click)="ondelete(deleteid)" data-dismiss="modal">
        <button type="button" class="btn btn-default" style="background-color:#01A800;color:white" data-dismiss="modal"> No </button>
      </div>
    </div>

  </div>
</div>
                                </td>

                            
                       </tbody>
                                    </table>                                 
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            
