
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                
                   
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="fa fa-empire font-dark" style="font-size: 18px"></i>
                                        <span class="caption-subject bold uppercase"> Business Opportunity</span>
                                    </div>
                                       <div class="btn-group pull-right">
                                        <a routerLink="/addbusinessopportunity" class="btn btn-default"><i class="fa fa-plus"></i> Add Business Opportunity</a>
                                      </div>
									              </div>

                      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column">
                        <thead>
                          <tr> 
                          <th>ID</th>
                          <th>Title</th>
                          <th>Image</th>
                          <th>More Images</th>
                          <th>Type</th>
                          <th>About Company</th>
                          <th>Product Range and Description</th>
                          <th>Business Opportunity</th>
                          <th>Business Opportunity Description</th>
                          <th>Investment Requirement</th>
                          <th>Margin Range</th>
                          <th>Territory</th>
                          <th>Weblink</th>
                          <th>Remark</th>
                          <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let businessopportunity of posts">
                              <td>{{businessopportunity.training_id}}</td>
                              <td>{{businessopportunity.title}}</td>
                              <td><img src="{{businessopportunity.image_path}}" width=150px></td>
                              <td><a routerLink="/businessopportunityimages/{{businessopportunity.training_id}}">View more images</a></td>
                              <td>{{businessopportunity.type}}</td>
                              <td>{{businessopportunity.description}}</td>
                              <td>{{businessopportunity.product_range_des}}</td>
                               <td>{{businessopportunity.fees}}</td>
                               <td>{{businessopportunity.opportunity_des}}</td>
                                <td>{{businessopportunity.investment_required}}</td>
                                <td>{{businessopportunity.duration}}</td>
                                <td>{{businessopportunity.location}}</td>
                                <td>{{businessopportunity.training_type}}</td>
                                <td>{{businessopportunity.remark}}</td>

                              <td>
                                  <a routerLink="/editbusinessopportunity/{{businessopportunity.training_id}}">Edit</a>
                              </td>
                           </tr>
                       </tbody>
                                    </table>                                 
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            
