
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                
                   
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="fa fa-street-view font-dark" style="font-size: 18px"></i>
                                        <span class="caption-subject bold uppercase"> Experts</span>
                                    </div>
                                       <div class="btn-group pull-right">
                                        <a routerLink="/addexperts" class="btn btn-default"><i class="fa fa-plus"></i> Add Experts</a>
                                      </div>
									              </div>

                      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column">
                        <thead>
                          <tr> 
                          <th>ID</th>
                          <th>Name</th>
                          <th>Mobile No.</th>
                          <th>Email</th>
                          <!--<th>Password</th>-->
                          <th>Experts Conversation</th>
                          <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let experts of posts">
                              <td>{{experts.id}}</td>
                              <td>{{experts.name}}</td>
                              <td>{{experts.mobile_no}}</td>
                              <td>{{experts.email}}</td>
                              <!--<td>{{experts.password}}</td>-->
                              <!--<td><img src="{{experts.image_path}}" width="150px"></td>
                              <td>{{experts.description | truncate : 250}}</td>       -->
                              <td>
                                  <a routerLink="/speaktoexpert/{{experts.id}}">Experts Chat</a>
                              </td>
                              <td>
                                  <a routerLink="/editexperts/{{experts.id}}">Edit</a>
                              </td>
                           </tr>
                       </tbody>
                                    </table>                                 
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            
