<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->


            <!-- END PAGE TITLE -->
            <!-- BEGIN PAGE TOOLBAR -->

            <!-- END PAGE TOOLBAR -->
        </div>
        <ul class="page-breadcrumb breadcrumb note note-info" style="font-size:1.15em; font-weight:bold;text-transform: uppercase; padding:10px; margin-bottom: 20px ">
<li>
    <span aria-hidden="true" class="icon-arrow-left"></span><a routerLink="/productlist" style=""> Product List</a>
</li>
</ul>
<!-- END PAGE HEAD-->
<!-- BEGIN PAGE BREADCRUMB -->

<!-- END PAGE BREADCRUMB -->
<!-- BEGIN PAGE BASE CONTENT -->
<div class="col-md-12">
    <div class="{{alertClass}}">
        {{errorMsg}}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    Add Product </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form [formGroup]="productForm" class="form-horizontal" (ngSubmit)="onSubmit()">

                    <div class="form-body">

                        <div class="form-group">
                            <label class="col-md-3 control-label">Product Name<i class="required">*</i></label>
                            <div class="col-md-4">
                                <input type="hidden" name="product_id" [formControl]="productForm.controls['product_id']" class="form-control input-circle"
                                    placeholder="">
                                <input type="text" name="name" [formControl]="productForm.controls['name']" class="form-control input-circle" placeholder="">
                                <span class="help-block required" *ngIf="productForm.controls.name.invalid && (productForm.controls.name.touched || !productForm.controls.name.pristine)">
                                                        Name is required (minimum 2 characters).
                                                    </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Product Code<i class="required">*</i></label>
                            <div class="col-sm-4">

                                <input type="text" [formControl]="productForm.controls['code']" name="code" class="form-control input-circle">
                                <span class="help-block required" *ngIf="productForm.controls.code.invalid && (productForm.controls.code.touched || !productForm.controls.code.pristine)">
                                                        Code is required.
                                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Category<i class="required">*</i></label>
                            <div class="col-md-4">
                                <select class="form-control" name="category" required autofocus [formControl]="productForm.controls['category']">                      
                                                       <option value="" selected="selected">Select Category</option>   
                                                        <option *ngFor="let cat of categorylist" value="{{cat.arya_category_id}}">{{cat.category_name}}</option>          
                                                    </select>
                                <span class="help-block required" *ngIf="productForm.controls.category.invalid && (productForm.controls.category.touched || !productForm.controls.category.pristine)">
                                                        Category is required.
                                                    </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Description<i class="required">*</i></label>
                            <div class="col-md-4">

                                <textarea name="description" [formControl]="productForm.controls['description']" class="form-control input-circle"></textarea>
                                <span class="help-block required" *ngIf="productForm.controls.description.invalid && (productForm.controls.description.touched || !productForm.controls.description.pristine)">
                                                   Description is required.
                                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Size<i class="required">*</i></label>
                            <div class="col-md-4">

                                <input type="text" [formControl]="productForm.controls['size']" name="" class="form-control input-circle">
                                <span class="help-block required" *ngIf="productForm.controls.size.invalid && (productForm.controls.size.touched || !productForm.controls.size.pristine)">
                                                   Size is required.
                                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Price<i class="required">*</i></label>
                            <div class="col-md-4">

                                <input type="text" [formControl]="productForm.controls['price']" name="" class="form-control input-circle">
                                <span class="help-block required" *ngIf="productForm.controls.price.invalid && (productForm.controls.price.touched || !productForm.controls.price.pristine)">
                                                   Price is required.
                                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Stock<i class="required">*</i></label>
                            <div class="col-md-4">

                                <input type="text" [formControl]="productForm.controls['stock']" name="" class="form-control input-circle">
                                <span class="help-block required" *ngIf="productForm.controls.stock.invalid && (productForm.controls.stock.touched || !productForm.controls.stock.pristine)">
                                                   Stock is required.
                                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Discount Percentage<i class="required">*</i></label>
                            <div class="col-md-4">

                                <input type="text" [formControl]="productForm.controls['discount_percentage']" name="" class="form-control input-circle" >
                                <span class="help-block required" *ngIf="productForm.controls.discount_percentage.invalid && (productForm.controls.discount_percentage.touched || !productForm.controls.discount_percentage.pristine)">
                                                   Discount Percentage is required.
                                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Contact Now<i class="required">*</i></label>
                            <div class="col-md-4">

                                <input type="text" [formControl]="productForm.controls['contact_now']" name="" class="form-control input-circle">
                                <span class="help-block required" *ngIf="productForm.controls.contact_now.invalid && (productForm.controls.contact_now.touched || !productForm.controls.contact_now.pristine)">
                                                  PLease put the correct Phone Number!
                                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Specific Term<i class="required">*</i></label>
                            <div class="col-md-4">

                                <input type="text" [formControl]="productForm.controls['specific_term']" name="" class="form-control input-circle">
                                <span class="help-block required" *ngIf="productForm.controls.specific_term.invalid && (productForm.controls.specific_term.touched || !productForm.controls.specific_term.pristine)">
                                                   Specific Term is required.
                                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Area<i class="required">*</i></label>
                            <div class="col-md-4">

                                <input type="text" [formControl]="productForm.controls['area']" name="" class="form-control input-circle">
                                <span class="help-block required" *ngIf="productForm.controls.area.invalid && (productForm.controls.area.touched || !productForm.controls.area.pristine)">
                                                   Area is required.
                                                </span>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label col-sm-3">Web Link<i class="required">*</i></label>
                            <div class="col-md-4">

                                <input type="text" [formControl]="productForm.controls['web_link']" name="" class="form-control input-circle"  placeholder="For example: https://www.abc.com">
                                <span class="help-block required" *ngIf="productForm.controls.web_link.invalid && (productForm.controls.web_link.touched || !productForm.controls.web_link.pristine)">
                                                    Web Link is required.
                                                  </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Company Brief<i class="required">*</i></label>
                            <div class="col-md-4">

                                <input type="text" [formControl]="productForm.controls['company_brief']" name="" class="form-control input-circle">
                                <span class="help-block required" *ngIf="productForm.controls.company_brief.invalid && (productForm.controls.company_brief.touched || !productForm.controls.company_brief.pristine)">
                                                     Company Brief is required.
                                                  </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Extra<i class="required">*</i></label>
                            <div class="col-md-4">

                                <input type="text" [formControl]="productForm.controls['extra']" name="" class="form-control input-circle">
                                <span class="help-block required" *ngIf="productForm.controls.extra.invalid && (productForm.controls.extra.touched || !productForm.controls.extra.pristine)">
                                                     Extra is required.
                                                  </span>
                            </div>
                        </div>


                        <div class="form-group ">
                            <label class="control-label col-md-3">Image1<i class="required">*</i></label>
                            <div class="col-md-4">


                                <div class="fileinput fileinput-new" data-provides="fileinput">

                                    <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
<img [src]="imagepath1" alt="" />
</div>
<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
<div>
    <span class="btn red btn-outline btn-file">                                                                                  
                                                                  <span class="fileinput-new"> Select image </span>
    <span class="fileinput-exists"> Change </span>
    <input type="file" class="form-control" name="file" [src]="productForm.controls['image1']" (change)="onChange($event)">
    </span>
    <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
</div>
</div>
</div>
</div>

<div class="form-group ">
    <label class="control-label col-md-3">Image2<i class="required">*</i></label>
    <div class="col-md-4">


        <div class="fileinput fileinput-new" data-provides="fileinput">

            <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
<img [src]="imagepath2" alt="" />
</div>
<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
<div>
    <span class="btn red btn-outline btn-file">                                                                                  
                                                                  <span class="fileinput-new"> Select image </span>
    <span class="fileinput-exists"> Change </span>
    <input type="file" class="form-control" name="file" [src]="productForm.controls['image2']" (change)="onChange1($event)">
    </span>
    <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
</div>
</div>
</div>
</div>

<div class="form-group ">
    <label class="control-label col-md-3">Image3<i class="required">*</i></label>
    <div class="col-md-4">


        <div class="fileinput fileinput-new" data-provides="fileinput">

            <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
<img [src]="imagepath3" alt="" />
</div>
<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
<div>
    <span class="btn red btn-outline btn-file">                                                                                  
                                                                  <span class="fileinput-new"> Select image </span>
    <span class="fileinput-exists"> Change </span>
    <input type="file" class="form-control" name="file" [src]="productForm.controls['image3']" (change)="onChange2($event)">
    </span>
    <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
</div>
</div>
</div>
</div>

<div class="form-group ">
    <label class="control-label col-md-3">Image4<i class="required">*</i></label>
    <div class="col-md-4">


        <div class="fileinput fileinput-new" data-provides="fileinput">

            <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
<img [src]="imagepath4" alt="" />
</div>
<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
<div>
    <span class="btn red btn-outline btn-file">                                                                                  
                                                                  <span class="fileinput-new"> Select image </span>
    <span class="fileinput-exists"> Change </span>
    <input type="file" class="form-control" name="file" [src]="productForm.controls['image4']" (change)="onChange3($event)">
    </span>
    <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
</div>
</div>
</div>
</div>

<div class="form-group ">
    <label class="control-label col-md-3">Image5<i class="required">*</i></label>
    <div class="col-md-4">


        <div class="fileinput fileinput-new" data-provides="fileinput">

            <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
<img [src]="imagepath5" alt="" />
</div>
<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
<div>
    <span class="btn red btn-outline btn-file">                                                                                  
                                                                  <span class="fileinput-new"> Select image </span>
    <span class="fileinput-exists"> Change </span>
    <input type="file" class="form-control" name="file" [src]="productForm.controls['image5']" (change)="onChange4($event)">
    </span>
    <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
</div>
</div>
</div>
</div>


</div>


<div class="form-actions">
    <div class="row">
        <div class="col-md-offset-3 col-md-9">
            <span>*Please add atleast one image again while editing.</span> <button type="submit" class="btn btn-circle green"
                [disabled]="productForm.invalid">Submit</button>
            <button type="reset" class="btn btn-circle red btn-outline">Reset</button>
        </div>
    </div>
</div>
</form>
<!-- END FORM-->
</div>
</div>


</div>
</div>
<!-- END PAGE BASE CONTENT -->
</div>
<!-- END CONTENT BODY -->

</div>