
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                

                   
                    <div class="row">
                        <div class="col-md-12">
                            
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                       <i class="fa fa-arrow-circle-right font-dark"  style="font-size: 18px"></i>

                                        <span class="caption-subject bold uppercase">Product List</span><br>
                                       

                                    </div>
   <div class="btn-group pull-right">
    <a (click)="downloadexcel()" class="btn btn-default" style="background-color:#01A800;color:white" >Download Excel </a><a routerLink="/addproduct" class="btn btn-default"><i class="fa fa-plus"></i> Add Product</a>
			<!--<a routerLink="/category" class="btn btn-primary"><i class="fa fa-fw fa-bar-chart-o"></i> App Product List</a>-->
		</div>
									</div>

<!--<form [formGroup]="productForm" class="form-horizontal" (ngSubmit)="UploadExcel()">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <label class="control-label ">   Select Excel </label>
            </div>
            <div class="col-md-6">
                <input type="file" class="form-control" required (change)="onChange($event)" />
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-success">Upload Excel </button>

                <a (click)="downloadexcel()" class="btn btn-danger">Download Excel </a>
            </div>
        </div>
    </div>
    <br>
</form>-->
					
                                
                                
                               
                                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column" >
                          <thead>
                            <tr> 
                             <th>Sr No.</th>   
                            <th>Image</th>
                            <th>Multiple Image</th>
                            <th>Tiltle/Code/Description</th>
                            <th>Category</th>
                            <th>Size And Stock</th>
                            <th>Price(Rs)</th>
                            <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let category of posts">
                                <td>{{category.product_id}}</td>
                                <td><img src="{{category.image1}}" width="150px"></td>
                                <td><a routerLink="/moreproductimages/{{category.product_id}}">View More Images</a></td>
                                <td>{{category.product_name}}<br>{{category.product_code}}<br>{{category.description}}</td>
                                <td>{{category.category_name}}</td>
                                <td>Size:{{category.size}}<br> stock:{{category.stock}}</td>
                                <td>{{category.price}}</td>

                                <td style="text-align:center"><a routerLink="addproduct/{{ category.product_id}}" class="btn btn-default input-circle" style="background-color:#01A800;color:white" ><i class="fa fa-pencil-square"></i> Edit</a><br><br>
                                    <!-- <a (click)="deleteproduct(category.product_id)" class="btn btn-default input-circle" style="background-color:#EC3237;color:white"><i class="fa fa-trash-o"></i> Delete </a> -->
                                
                                                                      <!-- Trigger the modal with a button -->
<button type="button" class="btn btn-default input-circle" data-toggle="modal" data-target="#myModal1" (click)="deleteproduct(category.product_id)" style="background-color:#01A800;color:white"><i class="fa fa-trash-o"></i> Delete</button>

<!-- Modal -->
<div id="myModal1" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <!-- <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        
      </div> -->
      <div class="modal-body">
        <h4>Are you Sure you want to delete this product ?</h4>
      </div>
      <div class="modal-footer">
            <input type="button" class="btn btn-default" style="background-color:#01A800;color:white" value='Yes'(click)="ondelete(deleteid)" data-dismiss="modal">
        <button type="button" class="btn btn-default" style="background-color:#01A800;color:white" data-dismiss="modal"> No </button>
      </div>
    </div>

  </div>
</div>
                                </td>
                                
                                
                            </tr>


                    </tbody>
                                    </table>

 

                                 
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            
