
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                
                   <ul class="page-breadcrumb breadcrumb note note-info" style="font-size:1.15em; font-weight:bold;text-transform: uppercase; padding:10px; margin-bottom: 20px ">
<li>
  <span aria-hidden="true" class="icon-arrow-left"></span><a routerLink="/schemas" style="">Back to Government Schemes</a>
</li>
</ul>
                   
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="fa fa-university font-dark"  style="font-size: 18px"></i>
                                        <span class="caption-subject bold uppercase">SmartGaon Applicants for Schemes</span>
                                    </div>
                                       <!--<div class="btn-group pull-right">
                                        <a routerLink="/addschemas" class="btn btn-default"><i class="fa fa-plus"></i> Add New Scheme</a>
                                      </div>-->
									              </div>

                      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column">
                        <thead>
                          <tr> 
                          <th>ID</th>
                          <th>Name</th>
                          <th>Mobile No.</th>
                          <th>E-mail</th>
                          <th>Applied on</th>
                          <!--<th>Launched Date</th>
                          <th>Launched By</th>
                          <th>Applicants for Scheme</th>-->
                          <!--<th>Action</th>-->
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let schemas of posts;let i=index">
                              <td>{{i+1}}</td>
                              <td>{{schemas.name}}</td>
                              <td>{{schemas.mobile_no}}</td>
                              <!--<td><img src="{{schemas.file}}" width=100px></td>-->
                              <td>{{schemas.email}}</td>
                              <td>{{schemas.applied_on | date : "medium"}}</td>
                              <!--<td>{{schemas.guest}}</td>
                              <td><a roterLink="/schemesapplied">Applicants</td>-->
                                   
                              <!--<td>
                                  <a routerLink="/editschemas/{{schemas.scheme_id}}">Edit</a>
                              </td>-->
                           </tr>
                       </tbody>
                                    </table>                                 
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            

