
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                
                   
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="fa fa-google-wallet font-dark" style="font-size: 18px"></i>
                                        <span class="caption-subject bold uppercase">Community Funding</span>
                                    </div>
                                       <div class="btn-group pull-right">
                                        <!--<a routerLink="/addinnovation" class="btn btn-default"><i class="fa fa-fw fa-dashboard"></i> Add Innovation</a>-->
                                      </div>
									              </div>

                      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column">
                        <thead>
                          <tr> 
                          <th>ID</th>
                          <th>Category Name</th>
                          <th>Title</th>
                          <th>Description</th>
                          <th>Attachment</th>
                          <th>Created By</th>
                          <th>Mobile_no</th>
                          <th>Datetime</th>
                          <!--<th>Action</th>-->
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let innovation of posts">
                              <td>{{innovation.innovation_id}}</td>
                              <td>{{innovation.cat_name}}</td>
                              <td>{{innovation.title}}</td>
                              <td>{{innovation.description}}</td>
                               <td><img src="{{innovation.attachment}}" width="200px"></td>
                               <td>{{innovation.name}}</td>
                               <td>{{innovation.mobile_no}}</td>
                                <td>{{innovation.datetime}}</td>
                                 
                              <!--<td>
                                  <a routerLink="/editinnovation/{{innovation.innovation_id}}">Edit</a>
                              </td>-->
                           </tr>
                       </tbody>
                                    </table>                                 
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            

