
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                <ul class="page-breadcrumb breadcrumb note note-info" style="font-size:1.15em; font-weight:bold;text-transform: uppercase; padding:10px; margin-bottom: 20px ">
<li>
  <span aria-hidden="true" class="icon-arrow-left"></span><a routerLink="/newsletter">Newsletter Subcategory</a>
</li>
</ul>
                   
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="icon-settings font-dark"></i>
                                        <span class="caption-subject bold uppercase">Newsletter Subcategory</span>
                                    </div>
                                       <div class="btn-group pull-right">
                                        <a routerLink="/add-newsletter-subcategory/{{id}}" class="btn btn-default"><i class="fa fa-fw fa-dashboard"></i> Add Newsletter Subcategory</a>
                                      </div>
									              </div>

                      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
 class="table table-striped table-bordered table-hover table-checkable order-column">
                        <thead>
                          <tr> 
                          <th>Id</th>
                          <th>Subcategory</th>
                          <th>File</th>
                          <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let newslettersubcategory of posts">
                              <td>{{newslettersubcategory.subject_master_id}}</td>
                              <td>{{newslettersubcategory.name}}</td>
                              <!--<td><img src="{{newslettersubcategory.path}}" width="150px"></td>-->
                              <td>
                                  <a routerLink="/newsletterfile/{{newslettersubcategory.subject_master_id}}/{{newslettersubcategory.teacher_id}}">View Newsletter List</a>
                              </td>
                              <td>
                                  <a routerLink="/editnewsletter-subcategory/{{newslettersubcategory.subject_master_id}}/{{newslettersubcategory.teacher_id}}">Edit</a>
                              </td>
                           </tr>
                       </tbody>
                                    </table>                                 
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
