
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                
                   
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="fa fa-users font-dark" style="font-size: 18px"></i>
                                        <span class="caption-subject bold uppercase"> Job Posting</span>
                                    </div>
                                       <div class="btn-group pull-right">
                                        <a routerLink="/addjobposting" class="btn btn-default"><i class="fa fa-plus"></i> Add Job Posting </a>
                                      </div>
									              </div>

                      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column">
                        <thead>
                          <tr> 
                          <th>ID</th>
                          <th>Company Name</th>
                          <th>Company Brief</th>
                          <th>About Role</th>
                          <th>Designation</th>
                          <th>Job Description</th>
                          <th>Experience</th>
                          <th>Skills needed</th>
                          <th>City</th>
                          <th>Number Of Vacancies</th>
                          <th>Type</th>
                          <th>Compensation</th>
                          <th>Remark</th>
                          <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let jobposting of posts">
                              <td>{{jobposting.id}}</td>
                              <td>{{jobposting.company_name}}</td>
                              <td>{{jobposting.description}}</td>
                              <td>{{jobposting.about}}</td>
                              <td>{{jobposting.designation}}</td>
                              <td>{{jobposting.job_description}}</td>
                              <td>{{jobposting.experience}}</td>
                              <td>{{jobposting.skill}}</td>
                              <td>{{jobposting.job_location}}</td>
                              <td>{{jobposting.no_of_vacancies}}</td>
                              <td>{{jobposting.type}}</td>
                              <td>{{jobposting.compensation}}</td>
                              <td>{{jobposting.remark}}</td>
                              

                              <td>
                                  <a routerLink="/editjobposting/{{jobposting.id}}">Edit</a>
                              </td>
                           </tr>
                       </tbody>
                                    </table>                                 
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            

