<!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE HEAD-->
                    <div class="page-head">
                        <!-- BEGIN PAGE TITLE -->
                        
                        <!-- END PAGE TITLE -->
                        <!-- BEGIN PAGE TOOLBAR -->
                        
                        <!-- END PAGE TOOLBAR -->
                    </div>
                    <ul class="page-breadcrumb breadcrumb note note-info" 
                    style="font-size:1.15em; font-weight:bold;text-transform: uppercase; padding:10px; margin-bottom: 20px ">
                        <li>
                            <span aria-hidden="true" class="icon-arrow-left"></span><a routerLink="/experts" style="">Experts </a>
                        </li>
                    </ul>
                    <!-- END PAGE HEAD-->
                    <!-- BEGIN PAGE BREADCRUMB -->
                   
                    <!-- END PAGE BREADCRUMB -->
                    <!-- BEGIN PAGE BASE CONTENT -->
                    <div class="col-md-11">        
                        <div class="{{alertClass}}">
                             {{errorMsg}}      
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                               
                         
                                        <div class="portlet box green">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    Add Experts</div>                                                
                                            </div>
                                            <div class="portlet-body form">
                                                 <!--BEGIN FORM-->
                                                 <form [formGroup]="addexpertsForm" (ngSubmit)="onSubmit()" class="form-horizontal">

                                                
                                               <div class="form-body">
                                                      
                                                        <!--<div class="form-group">
                                                          <label class="control-label col-sm-3"> Gallery Name<i class="required">*</i></label>
                                                          <div class="col-md-4">
                                                            <input type="text"  formControlName="catgeory_name" class="form-control input-circle">
                                                           <span class="help-block required" *ngIf="addexpertsForm.controls.catgeory_name.invalid && (addexpertsForm.controls.catgeory_name.touched || !addexpertsForm.controls.catgeory_name.pristine)">
                                                               Album  Name is required.
                                                            </span>
                                                          </div>
                                                        </div>-->

                                                        <div class="form-group">
                                                          <label class="control-label col-sm-3">Name<i class="required">*</i></label>
                                                          <div class="col-md-4">
                                                            <input type="text" formControlName="name" class="form-control input-circle">
                                                            <span class="help-block required" *ngIf="addexpertsForm.controls.name.invalid && (addexpertsForm.controls.name.touched || !addexpertsForm.controls.name.pristine)">
                                                               Name is required.
                                                            </span>
                                                          </div>
                                                        </div>

                                                        <div class="form-group">
                                                          <label class="control-label col-sm-3"> Mobile No.<i class="required">*</i></label>
                                                          <div class="col-md-4">
                                                            <input type="text"  formControlName="mobile" class="form-control input-circle">
                                                           <span class="help-block required" *ngIf="addexpertsForm.controls.mobile.invalid && (addexpertsForm.controls.mobile.touched || !addexpertsForm.controls.mobile.pristine)">
                                                              PLease put the correct Mobile Number!
                                                            </span>
                                                          </div>
                                                        </div>

                                                        
                                                        <!--<div class="form-group">
                                                          <label class="control-label col-sm-3">Mobile No.<i class="required">*</i></label>
                                                          <div class="col-md-4">
                                                            <texinput type="text" formControlName="mobile" class="form-control input-circle">
                                                            <span class="help-block required" *ngIf="addexpertsForm.controls.mobile.invalid && (addexpertsForm.controls.mobile.touched || !addexpertsForm.controls.mobile.pristine)">
                                                               Mobile Number is required.
                                                            </span>
                                                          </div>
                                                        </div>-->

                                                        
                                                        <div class="form-group">
                                                          <label class="control-label col-sm-3">Email<i class="required">*</i></label>
                                                          <div class="col-md-4">
                                                            <input type="text" formControlName="email" class="form-control input-circle" placeholder="For example: abc@xyz.com">
                                                            <span class="help-block required" *ngIf="addexpertsForm.controls.email.invalid && (addexpertsForm.controls.email.touched || !addexpertsForm.controls.email.pristine)">
                                                               Check whether the email is correct or not !
                                                            </span>
                                                          </div>
                                                        </div>

                                                        
                                                        <div class="form-group">
                                                          <label class="control-label col-sm-3">Password<i class="required">*</i></label>
                                                          <div class="col-md-4">
                                                            <input type="text" formControlName="password" class="form-control input-circle">
                                                            <span class="help-block required" *ngIf="addexpertsForm.controls.password.invalid && (addexpertsForm.controls.password.touched || !addexpertsForm.controls.password.pristine)">
                                                               Password is required.
                                                            </span>
                                                          </div>
                                                        </div>


                                                       <!--<div class="form-group">
                                                          <label class="control-label col-sm-3">location<i class="required">*</i></label>
                                                          <div class="col-md-4">
                                                            <textarea formControlName="location" class="form-control input-circle"></textarea>
                                                          <span class="help-block required" *ngIf="blacklistForm.controls.location.invalid && (blacklistForm.controls.location.touched || !blacklistForm.controls.location.pristine)">
                                                               Location is required.
                                                            </span>
                                                          </div>
                                                        </div>-->

                                                           


                                                    </div>
                                                    

                                                    <div class="form-actions">
                                                        <div class="row">
                                                            <div class="col-md-offset-3 col-md-9">
                                                                <button type="submit" class="btn btn-circle green" [disabled]="addexpertsForm.invalid || !isValidImage" >Submit</button>
                                                                <button type="reset" class="btn btn-circle red btn-outline">Reset</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                                <!-- END FORM-->
                                            </div>
                                        </div>
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
