 <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                
                   
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="icon-settings font-dark"></i>
                                        <span class="caption-subject bold uppercase">BlackList Company</span>
                                    </div>
                                       <div class="btn-group pull-right">
                                        <a routerLink="/addblacklistcompany" class="btn btn-default"><i class="fa fa-fw fa-dashboard"></i> Add BlackList Company</a>
                                      </div>
									              </div>

                      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column">
                        <thead>
                          <tr> 
                          <th>ID</th>
                          <th>company name</th>
                          <th>Location</th>
                          <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let blacklist of posts">
                                  <td>{{blacklist.blacklist_id}}</td>
                                  <td>{{blacklist.company_name}}</td>
                                  <td>{{blacklist.location}}</td>
                                  <td>    
                                  <a routerLink="/editBlacklist/{{blacklist.blacklist_id}}">Edit</a>
                                  </td>
                              
                             
                            
                       </tbody>
                                    </table>                                 
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            
