
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                
                   
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="fa fa-arrow-circle-right font-dark"  style="font-size: 18px"></i>
                                        <span class="caption-subject bold uppercase">Contact Us</span>
                                    </div>
                                       <!--<div class="btn-group pull-right">
                                       <a routerLink="/addcontactus" class="btn btn-default"><i class="fa fa-fw fa-dashboard"></i> Add Contact Us</a>
                                    </div>-->
									              </div>

                      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column">
                        <thead>
                          <tr> 
                          <th>ID</th>
                          <th>Name</th>
                          <th>Address</th>
                          <th>Image</th>
                          <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let contactus of posts">
                            <td>{{contactus.institute_desk_id}}</td>
                              <td>{{contactus.title}}</td>
                              <td>{{contactus.address}}</td>
                              <td><img src="{{contactus.image_path}}" width="150px"></td>       
                              <td>
                                  <a routerLink="/editcontactus/{{contactus.institute_desk_id}}">Edit</a>
                              </td>
                           </tr>
                       </tbody>
                                    </table>                                 
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            
