<!-- BEGIN SIDEBAR -->

<!-- END SIDEBAR -->
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">


        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class="fa fa-pencil-square-o font-dark" style="font-size: 19px"></i>
<span class="caption-subject bold uppercase">SmartGaon Queries</span>
</div>
<div class="btn-group pull-right">
    <a routerLink="/addquery" class="btn btn-default"><i class="fa fa-plus"></i> Add Query</a>
</div>
</div>

<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Location</th>
            <th>Attachment</th>
            <th>Work Progress</th>
            <th>Display on Homescreen</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let query of posts;let i=index">
            <td>{{i+1}}</td>
            <td>{{query.title}}</td>
            <td>{{query.description|truncate:250}}</td>
            <td>{{query.location}}</td>
            <td><img src="{{query.attachment}}" width=200px></td>
            <td>
                <select id="query_status" (change)="run($event.target.value,query.query_id)">
                         <option value="one" [selected]="query.query_status=='one'" >One</option>
                         <option value="two" [selected]="query.query_status=='two'">Two</option>
                        <option value="three" [selected]="query.query_status=='three'">Three</option>
                    <option value="four" [selected]="query.query_status=='four'">Four</option>
                </select> 
            </td>
            <td>
                <a class="btn btn-sm btn-primary" *ngIf="query.post_status==0" (click)="change(query.query_id,1)">
                                                    Activate
                                                </a>
                <a class="btn btn-sm btn-danger" *ngIf="query.post_status==1" (click)="change(query.query_id,0)">
                                                    Deactivate
                                                </a>
                                                <!--<a class="btn btn-sm btn-primary" *ngIf="query.post_status==2" (click)="change(query.query_id,2)">
                                                    Rejected
                                                </a>-->
            </td>
            <td>
                <a routerLink="/editquery/{{query.query_id}}">Edit</a>
            </td>
        </tr>
    </tbody>
</table>
</div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->
</div>
</div>
<!-- END PAGE BASE CONTENT -->
</div>
<!-- END CONTENT BODY -->