
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                
                   
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="icon-settings font-dark"></i>
                                        <span class="caption-subject bold uppercase">Activity</span>
                                    </div>
                                       <div class="btn-group pull-right">
                                        <a routerLink="/add-activity-category" class="btn btn-default"><i class="fa fa-fw fa-dashboard"></i> Add Activity</a>
                                      </div>
									              </div>

                      <table  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column">
                        <thead>
                          <tr> 
                          <th>ID</th>
                          <th>Category Name</th>
                          <th>Image</th>
                          <th>Description</th>
                          <th>Activity Subcategory</th>
                          <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let activitycategory of posts">
                              <td>{{activitycategory.activity_category_id}}</td>
                              <td>{{activitycategory.category_name}}</td>
                              <td><img src="{{activitycategory.image}}" width="150px"></td>
                              <td>{{activitycategory.description}}</td>
                              <td><a routerLink="/activity-subcategory/{{activitycategory.activity_category_id}}">Subcategory</a></td>
                              <td>
                                  <a routerLink="/editactivity-category/{{activitycategory.activity_category_id}}">Edit</a>
                              </td>
                           </tr>
                       </tbody>
                                    </table>                                 
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
