/* You can add global styles to this file, and also import other style files */
.required {
    color: red;
}
.page-container,.page-footer{
    background-color: #e2e2e2 !important;
}
.icon-arrow-left{
    color: #01A800;
    padding-right: 15px; 
}
.alert {
    border-width: 1px;
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert.alert-success{
    background-color:#a5f1a5;
    border-color: #a5f1a5;
    border: solid transparent;
    color:#01A800; 
}
.alert.alert-success.alert-dismissible {
    padding-right: 5px;

    
}

.alert.alert-success.alert-dismissible.text-center {
        text-align: center;
        width: 110%;
    }