<!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                
                   
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="fa fa-book font-dark" style="font-size: 18px"></i>
                                        <span class="caption-subject bold uppercase"> Directory</span>
                                    </div>
                                       <div class="btn-group pull-right">
                                        <a routerLink="/addDirectory" class="btn btn-default"><i class="fa fa-plus"></i> Add Directory</a>
                                      </div>
									              </div>

                      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column">
                        <thead>
                          <tr> 
                          <th>ID</th>
                          <th>Name</th>
                          <th>Gender</th>
                          <th>Profile Image</th>                        
                          <th>Mobile No.</th>
                          <th>Email Id</th>
                          <th>Address</th>
                          <th>Pincode</th>
                          <th>Name of the Firm</th>
                          <th>Company Name</th>
                          <!--<th>Business Type</th>-->
                          <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let directory of posts">
                              <td>{{directory.id}}</td>
                              <td>{{directory.name}}</td>
                              <td>{{directory.gender}}</td> 
                              <td><img src="{{directory.profile_pic}}" width="100px"></td> 
                              
                              <td>{{directory.mobile_no}}</td>
                              <td>{{directory.email}}</td>
                              <td>{{directory.address}}</td>
                              
                               <td>{{directory.pincode}}</td>
                              <td>{{directory.city}}</td>
                             
                              <td>{{directory.company_name}}</td> 
                              <!--<td>{{directory.Bussiness_Type}}</td>   -->
                              <td>
                                  <a routerLink="/editDirectory/{{directory.id}}">Edit</a>
                              </td>
                           </tr>
                       </tbody>
                                    </table>                                 
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            
