
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                
                   
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="icon-settings font-dark"></i>
                                        <span class="caption-subject bold uppercase"> Survey Submit </span>
                                    </div>
                                       <!--<div class="btn-group pull-right">
                                        <a routerLink="/surveysubmit" class="btn btn-default"> </a>
                                      </div>-->
									              </div>

                      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column">
                        <thead>
                          <tr> 
                          <th>ID</th>
                          <!--<th>User ID</th>-->
                          <th>User Name</th>
                          <th>Survey Name</th>
                          <th>Questions</th>
                          <!--<th>Answer</th>-->
                         
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let surveysubmit of posts">
                              <td>{{surveysubmit.id}}</td>
                              <!--<td>{{surveysubmit.user_id}}</td>-->
                              <td>{{surveysubmit.name}}</td>
                              <td>{{surveysubmit.title}}</td>
                              
                             
                              <td>
                                  <span *ngFor="let details of surveysubmit.surveydetails">
                                           Q: {{details.question}} - A: {{details.answer}} <br>
                                  </span>
                                  </td>
                              <!--<td>{{surveysubmit.answer}}</td>-->
                             
                           </tr>
                       </tbody>
                                    </table>                                 
                                </div>
                            </div>
                             <!--END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                     <!--END PAGE BASE CONTENT -->
                </div>
                 <!--END CONTENT BODY -->
            

