
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                
                   
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="fa fa-inbox font-dark" style="font-size: 18px"></i>
                                        <span class="caption-subject bold uppercase"> Obituary</span>
                                    </div>
                                       <div class="btn-group pull-right">
                                            <a routerLink="/addobituary" class="btn btn-default"><i class="fa fa-plus"></i> Add Obituary</a>
                                       </div>
							    </div>

                      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column">
                        <thead>
                          <tr> 
                          <th>ID</th>
                          <th>Name</th>
                          <th>To</th>
                          <th>From</th>
                          <th>Image</th>
                          <th>Posted By</th>
                          <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                         <tr *ngFor="let obituary of posts">
                              <td>{{obituary.obituary_id}}</td>
                              <td>{{obituary.name}}</td>
                              <td>{{obituary.obituary_to}}</td>
                              <!--{{vm.advance.date | date:'dd-MM-yyyy'}}-->
                              <td>{{obituary.obituary_from}}</td>
                    
                              <td><img src="{{obituary.image_path}}" width="150px"></td>
                              <td>{{obituary.info}}</td>
                             

                              <td>
                                  <a routerLink="/editObituary/{{obituary.obituary_id}}">Edit</a>
                              </td>
                           </tr>
                       </tbody>
                                    </table>                                 
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            
