
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                
                   
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="fa fa-caret-square-o-right font-dark" style="font-size: 18px"></i>
                                        <span class="caption-subject bold uppercase"> Videos</span>
                                    </div>
                                       <div class="btn-group pull-right">
                                        <a routerLink="/addVideos" class="btn btn-default"><i class="fa fa-plus"></i> Add Videos</a>
                                      </div>
									              </div>

                      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column">
                        <thead>
                          <tr> 
                          <th>ID</th>
                          <th>Title</th>
                          <th>Description</th>
                          <!--<th>Video link</th>-->
                          <th>View Video</th>
                          <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let video of posts">
                              <td>{{video.my_videos_id}}</td>
                              <td>{{video.title}}</td>
                              <td>{{video.description | truncate : 250}}</td>
                              <!--<td>{{video.path}}</td>-->

                               <td><a href="{{video.path}}" target="_blank"><img src="{{video.image_path}}" width="40px"></a></td>      
                              <td>
                                  <a routerLink="/editVideos/{{video.my_videos_id}}">Edit</a>
                              </td>
                           </tr>
                       </tbody>
                                    </table>                                 
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            
