
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                
                   
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="fa fa-arrow-circle-right font-dark"  style="font-size: 18px"></i>
                                        <span class="caption-subject bold uppercase">Board Of Directors</span>
                                    </div>
                                       <div class="btn-group pull-right">
                                        <a routerLink="/addbod" class="btn btn-default"><i class="fa fa-plus"></i> Add Board Of Directors</a>
                                      </div>
									              </div>

                      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column">
                        <thead>
                          <tr> 
                          <th>ID</th>
                          <th>Name</th>
                          <th>Designation</th>
                          <th>Image</th>
                          <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let bod of posts">
                              <td>{{bod.institute_desk_id}}</td>
                              <td>{{bod.title}}</td>
                              <td>{{bod.designation}}</td>
                              <td><img src="{{bod.image_path}}" width="150px"></td>       
                              <td>
                                  <a routerLink="/editbod/{{bod.institute_desk_id}}">Edit</a>
                              </td>
                           </tr>
                       </tbody>
                                    </table>                                 
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            
